<!doctype html>
<html lang="de" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>

    <div th:replace="main/fragments/header"></div>

    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>


</head>
<body class="login-body">


<div id="login-div">


    <form class="col s12" id="reg-form" method="post" th:action="@{/changeAddress}" th:object="${adresse}">


        <h1 class="login-form-ueb">Adresse ändern</h1>

        <!--
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.
            </div>
        </div>
        -->


        <div class="col s12">


            <div class="row">
                <div class="row">
                    <div class="input-field login-div-mail col s12 m12 l12">
                        <i class="material-icons-outlined white-dm prefix">home</i>
                        <input id="adresse" type="text" class="validate login-inp" placeholder="Adresse"
                               th:field="*{adresse}">
                        <label for="adresse"></label>
                    </div>
                </div>

                <div class="row" id="adressen">

                </div>
                <input th:field="*{ort}" id="ort" type="hidden">
                <input th:field="*{strasse}" id="strasse" type="hidden">
                <input th:field="*{land}" id="land" type="hidden">
                <input th:field="*{hausnummer}" id="hausnummer" type="hidden">
                <input th:field="*{placeId}" id="placeId" type="hidden">
            </div>


        </div>


        <button type="submit" name="login-submit" id="login-submit"
                class=" btn waves-light btn-raised btn-round waves-effect btn-login">speichern
        </button>


        <!--
        <h1 class="side-line-menu-login">oder</h1>


        <button class="login-google-btn" type="submit">
          <img class="login-google-img hoverable" src="google.png" alt="submit" />
        </button>
        -->
        <!--
        <btn class="btn waves-light btn-raised btn-round waves-effect login-btn-google">Google</btn>
        -->


    </form>


</div>


<footer class="footer">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index">Startseite</p>
        </a>
    </div>
</footer>


</body>
<script>

    $(document).ready(function () {
        let searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('error')) {
            var toastHTML = `Adresse konnte nicht geändert werden`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
        if (searchParams.has('success')) {
            var toastHTML = `Adresse erfolgreich geändert`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
        if (searchParams.has('NA')) {
            var toastHTML = `Bitte wählen sie eine Adresse aus`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
    });

</script>

<script type="text/javascript" th:src="@{/js/main/autocompleteAdressen.js}"></script>
<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>