<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>

    <div th:replace="main/fragments/header"></div>

    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>


</head>
<body class="login-body">


<div id="login-div">
    <form class="col s12" id="change-password-form" th:action="@{/changePassword}" th:object="${pw}"
          method="post">

        <h1 class="login-form-ueb">Passwort ändern</h1>


        <!--
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.
            </div>
        </div>
        -->


        <div class="row login-row-mail mb-0">
            <div class="input-field col s12 login-div-pw">
                <input id="altesPasswort" th:field="*{altesPasswort}" type="password" class="validate login-inp"
                       placeholder="Altes Passwort">
                <label for="altesPasswort"></label>
            </div>
        </div>

        <div class="row login-pw-row mb-0">
            <div class="input-field col s12 login-div-pw">
                <input id="passwort" th:field="*{passwort}" type="password" class="validate login-inp"
                       placeholder="Neues Passwort">
                <label for="passwort"></label>
            </div>
        </div>

        <div class="row login-pw-row">
            <div class="input-field col s12 login-div-pw">
                <input id="confirmPasswort" th:field="*{confirmPasswort}" type="password"
                       class="validate login-inp"
                       placeholder="Passwort wiederholen">
                <label for="confirmPasswort"></label>
            </div>
        </div>


        <button type="submit" name="login-submit" id="login-submit" class=" btn waves-light btn-raised btn-round waves-effect btn-login">speichern</button>



    </form>


</div>


<footer class="footer">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index">Startseite</p>
        </a>
    </div>
</footer>


</body>

<script>

    $(document).ready(function () {
        let searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('error')) {
            var toastHTML = `Passwort konnte nicht geändert werden`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
        if (searchParams.has('success')) {
            var toastHTML = `Passwort erfolgreich geändert`;
            M.toast({html: toastHTML, displayLength: 10000});
        }

    });

</script>

<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>