<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>

    <div th:replace="main/fragments/header"></div>

    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>


</head>
<body class="login-body">


<div id="login-div">


    <form class="col s12" id="change-address-form" method="post">


        <h1 class="login-form-ueb">Adresse ändern</h1>

        <!--
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.
            </div>
        </div>
        -->




        <div class="col s12">
            <div class="row">
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">map</i>
                    <input id="ort" type="text" class="validate login-inp" placeholder="Ort"
                           >
                    <label for="ort"></label>
                </div>
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">location_city</i>
                    <input id="plz" type="text" class="validate login-inp" placeholder="PLZ"
                           >
                    <label for="plz"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">home</i>
                    <input id="strasse" type="text" class="validate login-inp" placeholder="Straße"
                           >
                    <label for="strasse"></label>
                </div>
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">add_circle_outline</i>
                    <input id="hausnummer" type="text" class="validate login-inp"
                           placeholder="Hausnummer" >
                    <label for="hausnummer"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">call</i>
                    <input id="telefonnummer" type="tel" class="validate login-inp"
                           placeholder="Telefonnummer"
                           >
                    <label for="telefonnummer"></label>
                </div>
                <div class="input-field login-div-mail col s12 m6 l6">
                    <i class="material-icons-outlined white-dm prefix">landscape</i>
                    <input id="land" type="text" class="validate login-inp" placeholder="Land">
                    <label for="land"></label>
                </div>
            </div>
        </div>


        <button type="submit" name="login-submit" id="login-submit" class=" btn waves-light btn-raised btn-round waves-effect btn-login">speichern</button>


        <!--
        <h1 class="side-line-menu-login">oder</h1>


        <button class="login-google-btn" type="submit">
          <img class="login-google-img hoverable" src="google.png" alt="submit" />
      </button>
      -->
        <!--
        <btn class="btn waves-light btn-raised btn-round waves-effect login-btn-google">Google</btn>
        -->


    </form>


</div>


<footer class="footer">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index">Startseite</p>
        </a>
    </div>
</footer>


</body>

<script>

</script>

<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>