<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>
    <div th:replace="main/fragments/header"></div>
    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>


</head>
<body class="login-body">
<div id="reg-div">

    <form class="col s12" id="reg-form" method="post">


        <h1 class="login-form-ueb reg-form-ueb mb-30-im mob-mt-0">Checkout</h1>



        <div class="sr-restaurants row with-auto">
            <div class="col l2">
                <img class="sr-rest-img"
                     src="https://eu.ui-avatars.com/api/?uppercase=false&name=2x&background=5cdb95&color=fff">

            </div>

            <div class="col l5">
                <h1 class="sr-rest-ueb">Schnitzel</h1>
                <p class="sr-rest-p">Schnitzel mit Kartoffelpampa</p>

            </div>

            <div class="col s4  sr-rest-stars hide-tab-rest-stars">
                <h1 class="sr-rest-ueb mt-price">12,30 €</h1>
            </div>



            <div class="col l1  sr-rest-enter">
                <span class="material-icons-outlined sr-rest-enter-ico">delete</span>
            </div>

        </div>


        <div class="sr-restaurants row with-auto">
            <div class="col l2">
                <img class="sr-rest-img"
                     src="https://eu.ui-avatars.com/api/?uppercase=false&name=2x&background=5cdb95&color=fff">

            </div>

            <div class="col l5">
                <h1 class="sr-rest-ueb">Schnitzel</h1>
                <p class="sr-rest-p">Schnitzel mit Kartoffelpampa</p>

            </div>

            <div class="col s4  sr-rest-stars hide-tab-rest-stars">
                <h1 class="sr-rest-ueb mt-price">12,30 €</h1>
            </div>



            <div class="col l1  sr-rest-enter">
                <span class="material-icons-outlined sr-rest-enter-ico">delete</span>
            </div>

        </div>

        <div class="sr-restaurants row with-auto">
            <div class="col l2">
                <img class="sr-rest-img"
                     src="https://eu.ui-avatars.com/api/?uppercase=false&name=2x&background=5cdb95&color=fff">

            </div>

            <div class="col l5">
                <h1 class="sr-rest-ueb">Schnitzel</h1>
                <p class="sr-rest-p">Schnitzel mit Kartoffelpampa</p>

            </div>

            <div class="col s4  sr-rest-stars hide-tab-rest-stars">
                <h1 class="sr-rest-ueb mt-price">12,30 €</h1>
            </div>



            <div class="col l1  sr-rest-enter">
                <span class="material-icons-outlined sr-rest-enter-ico">delete</span>
            </div>

        </div>





        <div class="sr-restaurants row with-auto">
            <div class="col l10">
                <h1 class="sr-rest-ueb ml-30-dek">Preis</h1>
                <p class="sr-rest-p ml-30-dek">inkl. Mehrwerststeuer</p>
            </div>







            <div class="col l2  sr-rest-enter fr-mobile">
                <h1 class="sr-rest-ueb mt-price ">12,30 €</h1>
            </div>

        </div>



        <button class="waves-effect waves-dark btn float-r next-step-btn mob-w-100">Checkout and Pay</button>





    </form>


</div>


<footer class="footer footer-reg">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index color-white">Startseite</p>
        </a>
    </div>
</footer>


</body>


<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>

<script th:inline="javascript">


</script>