<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>
    <div th:replace="main/fragments/header"></div>
    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>


</head>
<body class="login-body">
<div id="reg-div">

    <!--  POST Form  -->
    <form class="col s12" id="reg-form" th:action="@{/register}" th:object="${user}" th:method="POST">

        <h1 class="login-form-ueb reg-form-ueb">Registrieren</h1>

        <ul class="stepper horizontal">
            <li class="step active">
                <div class="step-title waves-effect">Essentials</div>
                <div class="step-content">

                    <div class="row">
                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm  prefix">face</i>
                                <input id="vorname" type="text" class="validate login-inp" placeholder="Vorname"
                                       th:field="*{vorname}">
                                <!--                                <p class="error-message" th:each="error: ${#fields.errors('vorname')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <label for="vorname"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">badge</i>
                                <input id="nachname" type="text" class="validate login-inp" placeholder="Nachname"
                                       th:field="*{nachname}">
                                <!--                                <p class="error-message" th:each="error: ${#fields.errors('nachname')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <label for="nachname"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">email</i>
                                <input id="email" type="email" class="validate login-inp" placeholder="Email"
                                       th:field="*{email}">
                                <!--                                <p class="error-message" th:each="error: ${#fields.errors('email')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <label for="email"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">call</i>
                                <input id="telefonnummer" type="tel" class="validate login-inp"
                                       placeholder="Telefonnummer"
                                       th:field="*{telefonnummer}">
                                <!--                                    <p class="error-message" th:each="error: ${#fields.errors('telefonnummer')}"-->
                                <!--                                       th:text="${error}">Validation error</p>-->
                                <label for="telefonnummer"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">password</i>
                                <input id="passwort" type="password" class="validate login-inp" placeholder="Passwort"
                                       th:field="*{passwort}">
                                <!--                                <p class="error-message" th:each="error: ${#fields.errors('passwort')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <label for="passwort"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">replay</i>
                                <input id="confirmPasswort" type="password" class="validate login-inp"
                                       placeholder="Passwort wiederholen"
                                       th:field="*{confirmPasswort}">
                                <!--                                <p class="error-message" th:each="error: ${#fields.errors('confirmPasswort')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <label for="confirmPasswort"></label>
                            </div>
                        </div>

                    </div>

                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>
                </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect">Adresse</div>
                <div class="step-content">

                    <div class="row">

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m12 l12">
                                <i class="material-icons-outlined white-dm prefix">home</i>
                                <input id="adresse" type="text" class="validate login-inp" placeholder="Adresse"
                                       th:field="*{adresse}">
                                <label for="adresse"></label>
                            </div>
                        </div>

                        <div class="row" id="adressen">

                        </div>
                        <input th:name="ort" id="ort" type="hidden">
                        <input th:name="strasse" id="strasse" type="hidden">
                        <input th:name="land" id="land" type="hidden">
                        <input th:name="hausnummer" id="hausnummer" type="hidden">
                        <input th:name="placeId" id="placeId" type="hidden">

                    </div>

                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>

                </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect">Accept</div>
                <div class="step-content">
                    <!-- Your step content goes here (like inputs or so) -->

                    <div class="row">
                        <div class="col s12 m12 l6">
                            <p class="white-dm">
                                Bevor du die Registrierung abschließt musst du noch den AGBs zustimmen. Wenn du willst, kannst du natürlich auch unseren Newsletter abonnieren.
                            </p>

                            <div action="#">
                                <p>
                                    <label>
                                        <input type="checkbox" name="agb" th:value="on" th:checked="${user.agb eq 'on'}">
                                        <span>AGB zustimmen</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" name="newsletter" th:value="on" th:checked="${user.newsletter eq 'on'}">
                                        <span>Infos über Mail bekommen</span>
                                    </label>
                                </p>
                            </div>


                        </div>
                        <div class="col s12 m12 l6">
                            <a href="#">AGB Richtlinien</a>
                            <br>
                            <a href="#">Impressum</a>
                            <br>
                            <a href="#">Sonstiges</a>

                        </div>
                    </div>

                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button type="submit" class="btn btn-success">Registrieren</button>
                        <!--                        <button type="submit" class="waves-effect waves-dark btn next-step next-step-btn mob-last-step">Registrieren</button>-->
                    </div>
                </div>
            </li>

        </ul>

    </form>


</div>


<footer class="footer footer-reg">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index color-white">Startseite</p>
        </a>
    </div>
</footer>


</body>


<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>
<script type="text/javascript" th:src="@{/js/main/autocompleteAdressen.js}"></script>


<script th:inline="javascript">
    var returnVal = /*[[${returnVal}]]*/;

    $(document).ready(function () {
        if (returnVal!=null){
            console.log(returnVal);
            returnVal.forEach(postToast);
        }
    });

    function postToast(item) {
        var toastHTML = item;
        M.toast({html: toastHTML, displayLength: 10000});
    }
</script>

<script>

    var stepper = document.querySelector('.stepper');
    var stepperInstace = new MStepper(stepper, {
        // options
        firstActive: 0 // this is the default
    })
</script>