<!doctype html>
<html lang="de" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Login</title>
    <div th:replace="main/fragments/header"></div>
    <!-- Login Style -->
    <link th:href="@{/css/main/login.css}" rel="stylesheet"/>

</head>
<body class="login-body">
<div id="reg-div">

    <!--  POST Form  -->
    <form class="col s12" id="reg-form" method="post" th:action="@{/restaurantpartner}" th:object="${mandant}">
        <h1 class="login-form-ueb reg-form-ueb">Partner werden</h1>

        <ul class="stepper horizontal">
            <li class="step active">
                <div class="step-title waves-effect">Beschreibung</div>
                <div class="step-content">
                    <div class="row">

                        <div class="col s6">
                            <h1 class="ess-step-ueb white-dm">Partner werden</h1>
                            <p class="white-dm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque beatae
                                ad accusantium maiores nisi consequatur quas, autem optio. Quas a!</p>
                        </div>

                        <div class="col s6">
                            <p class="white-dm">1) Beschreibung</p>
                            <p class="white-dm">2) Grunddaten eingeben (Restaurant bezogen)</p>
                            <p class="white-dm">3) Standort eingeben</p>
                            <p class="white-dm">4) Admin Benutzer anlegen</p>
                            <p class="white-dm">5) Registrieren</p>

                        </div>
                    </div>

                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>
                </div>
            </li>



            <li class="step">
                <div class="step-title waves-effect">Essentials</div>
                <div class="step-content">

                    <div class="row">

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm  prefix">home</i>
                                <input id="firmenname" type="text" class="validate login-inp" placeholder="Firmenname"
                                       th:field="*{firmenname}">
                                    <label for="firmenname"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">email</i>
                                <input id="firmenemail" type="email" class="validate login-inp"
                                       placeholder="Restaurant-Email"
                                       th:field="*{firmenemail}">
                                    <label for="firmenemail"></label>
                            </div>

                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm  prefix">account_balance_wallet</i>
                                <input id="mindestbestellwert" type="number" step="any" class="validate login-inp"
                                       placeholder="Mindestbestellwert €"
                                       th:field="*{mindestbestellwert}">
                                    <label for="mindestbestellwert"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">airport_shuttle</i>
                                <input id="lieferkosten" type="number" step="any" class="validate login-inp"
                                       placeholder="Lieferkosten €"
                                       th:field="*{lieferkosten}">
                                    <label for="lieferkosten"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m12 l12">
                                <i class="material-icons-outlined white-dm prefix">call</i>
                                <input id="telefonnummer" type="tel" class="validate login-inp"
                                       placeholder="Telefonnummer"
                                       th:field="*{telefonnummer}">
                                    <label for="telefonnummer"></label>
                            </div>
                        </div>
                    </div>

                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>
                </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect">Adresse</div>
                <div class="step-content">


                    <div class="row">

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">map</i>
                                <input id="ort" type="text" class="validate login-inp" placeholder="Ort"
                                       th:field="*{ort}">
                                    <label for="ort"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">location_city</i>
                                <input id="plz" type="text" class="validate login-inp" placeholder="PLZ"
                                       th:field="*{plz}">
                                    <label for="plz"></label>
                            </div>


                        </div>


                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">home</i>
                                <input id="strasse" type="text" class="validate login-inp" placeholder="Straße"
                                       th:field="*{strasse}">
                                    <label for="strasse"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">add_circle_outline</i>
                                <input id="hausnummer" type="text" class="validate login-inp" placeholder="Hausnummer"
                                       th:field="*{hausnummer}">
                                    <label for="hausnummer"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m12 l12">
                                <i class="material-icons-outlined white-dm prefix">landscape</i>
                                <input id="land" type="text" class="validate login-inp" placeholder="Land"
                                       th:field="*{land}">
                                    <label for="land"></label>
                            </div>
                        </div>


                    </div>


                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>
                </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect">Benutzer</div>
                <div class="step-content">

                    <div class="row">
                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">face</i>
                                <input id="vorname" type="text" class="validate login-inp" placeholder="Vorname"
                                       th:field="*{vorname}">
                                    <label for="vorname"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">fingerprint</i>
                                <input id="nachname" type="text" class="validate login-inp" placeholder="Nachname"
                                       th:field="*{nachname}">
                                    <label for="nachname"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">email</i>
                                <input id="email" type="email" class="validate login-inp" placeholder="Email"
                                       th:field="*{email}">
                                    <label for="email"></label>
                            </div>
                            <div class="input-field login-div-mail col s12 m6 l6">
                                <i class="material-icons-outlined white-dm prefix">vpn_key</i>
                                <input id="passwort" type="password" class="validate login-inp" placeholder="Passwort"
                                       th:field="*{passwort}">
                                    <label for="passwort"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field login-div-mail col s12 m12 l12">
                                <i class="material-icons-outlined white-dm prefix">vpn_key</i>
                                <input id="confirmPasswort" type="password" class="validate login-inp"
                                       placeholder="Passwort wiederholen"
                                       th:field="*{confirmPasswort}">
                                <label for="confirmPasswort"></label>
                            </div>
                        </div>

                    </div>


                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button class="waves-effect waves-dark btn next-step next-step-btn">CONTINUE</button>
                    </div>
                </div>
            </li>


            <li class="step">
                <div class="step-title waves-effect">Accept</div>
                <div class="step-content">
                    <!-- Your step content goes here (like inputs or so) -->


                    <div class="row">
                        <div class="col s12 m12 l6">
                            <p class="white-dm">labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet.</p>

                            <div action="#">
                                <p>
                                    <label>
                                        <input type="checkbox" name="agb" th:value="on"
                                               th:checked="${mandant.agb eq 'on'}">
                                        <span>AGB zustimmen</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" name="newsletter" th:value="on"
                                               th:checked="${mandant.newsletter eq 'on'}">
                                        <span>Infos über Mail bekommen</span>
                                    </label>
                                </p>
                            </div>


                        </div>
                        <div class="col s12 m12 l6">
                            <a href="#">AGB Richtlinien</a>
                            <br>
                            <a href="#">Impressum</a>
                            <br>
                            <a href="#">Sonstiges</a>

                        </div>
                    </div>


                    <div class="step-actions">
                        <!-- Here goes your actions buttons -->
                        <button type="submit" class="btn btn-success">Registrieren</button>
                    </div>
                </div>
            </li>


        </ul>


    </form>


</div>


<footer class="footer footer-reg">
    <div class="container">
        <a href="/" class="animsition-link" style="color: #939C9E;">
            <p class="back-index color-white">Startseite</p>
        </a>
    </div>
</footer>


</body>


<script type="text/javascript" th:src="@{/js/main/script.js}"></script>


<script>

    $(document).ready(function () {
        let searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('error')) {
            var toastHTML = `Eingabe Fehler: Benutzer konnte nicht angelegt werden!`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
        if (searchParams.has('success')) {
            var toastHTML = `Benutzer erfolgreich angelegt`;
            M.toast({html: toastHTML, displayLength: 10000});
        }
    });

    var stepper = document.querySelector('.stepper');
    var stepperInstace = new MStepper(stepper, {
        // options
        firstActive: 0 // this is the default
    })
</script>