<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lieferrex - Suche</title>

    <div th:replace="main/fragments/header"></div>


</head>
<body>


<div th:replace="main/fragments/modals"></div>


<!-- Modal Structure ÄNDERN -->
<div id="aendern-modal" class="modal">
    <div class="modal-content">
        <h4 class="aendern-modal-ueb">Adresse ändern</h4>
        <form th:action="@{/seach}" method="get">


            <div class="row">
                <div class="input-field col s12">
                    <input th:if="${param.adresse == null}" th:value="${plz}" th:name="search" id="search" type="text"
                           class="validate inp-aendern-modal">
                    <input th:if="${param.adresse != null}" th:value="${param.adresse + ', ' + plz}" th:name="search"
                           id="search" type="text" class="validate inp-aendern-modal">
                    <label class="active" for="search">Adresse</label>
                </div>
            </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn">Submit</button>
    </div>
    </form>

</div>


<!--
<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>
-->


<div class="main_wrapper" id="sr-main-wrapper">


    <div class="row main-row">


        <nav class="nav-main">
            <div class="nav-wrapper">

                <a href="/" class="sr-back-arr-a hide-mob"><span
                        class="material-icons-outlined sr-back-arr">arrow_back</span></a>
                <!-- <a href="index.html" class="brand-logo sr-back-txt-a">ZURÜCK</a> -->

                <a href="#aendern-modal"
                   class="waves-effect waves-light btn sr-mob-add-btn hide-desktop btn-light-sec modal-trigger"><i
                        class="material-icons left sr-mob-add-ico-btn">edit</i>ändern</a>


                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons menu-icon">menu</i></a>


            </div>
        </nav>


        <input href="#aendern-modal" disabled type="text" class="form-control main-search modal-trigger"
               id="sr-main-inp" name="#" th:if="${param.adresse == null}" th:value="${plz}">
        <input href="#aendern-modal" disabled type="text" class="form-control main-search modal-trigger"
               id="sr-main-inp" name="#" th:if="${param.adresse != null}" th:value="${param.adresse + ', ' + plz}">

        <div id="sr-main-row-mrg">

        </div>

    </div>


    <div class="wrapper-bg" id="sr-wrapper-bg">

    </div>


</div>


</div>


<div class="sr-main-content ">


    <div class="row">
        <div class="col  l1 ">
        </div>


        <div class="col  l10 main-mob">


            <div class="row">
                <div class="col  l3 hide-mob">
                    <div class="sr-filter">


                        <h1 class="sr-filter-ueb">Filter</h1>


                        <form th:action="@{/restaurants/{plz}(plz=${plz})}" method="get">
                            <input th:name="adresse" th:if="${param.adresse != null}" th:value="${param.adresse}"
                                   type="hidden">
                            <input th:name="kategorie" th:if="${param.kategorie != null}" th:value="${param.kategorie}"
                                   type="hidden">

                            <div class="row">
                            <div class="input-field col s3">
                                <h1 class="sr-filter-u-ueb-m">Geöffnet</h1>
                            </div>
                            <div class="input-field col s6">
                                <div class="switch">
                                    <label>

                                        <input th:if="${param.geoeffnet != null}" th:name="geoeffnet" th:value="true"
                                               type="checkbox" checked>
                                        <input th:if="${param.geoeffnet == null}" th:name="geoeffnet" th:value="true"
                                               type="checkbox">
                                        <span class="lever"></span>

                                    </label>
                                </div>
                            </div>
                            </div>


                            <h1 class="sr-filter-u-ueb-m">Lieferkosten</h1>
                            <div  th:if="${param.lieferkosten != null}">
                                <div class="ml-30">
                                    <p class="sr-filter-auswählen-p">
                                        <label>
                                            <input th:if="${param.lieferkosten[0] == '2.5'}" th:name="lieferkosten"
                                                th:value="2.5"
                                                type="radio" checked/>
                                            <input th:if="${param.lieferkosten[0] != '2.5'}" th:name="lieferkosten"
                                                th:value="2.5"
                                                type="radio"/>
                                            <span>€2,50 oder weniger</span>
                                        </label>
                                    </p>
                                    <p class="sr-filter-auswählen-p">
                                        <label>

                                            <input th:if="${param.lieferkosten[0] == '5'}" th:name="lieferkosten"
                                                th:value="5"
                                                type="radio" checked/>
                                            <input th:if="${param.lieferkosten[0] != '5'}" th:name="lieferkosten"
                                                th:value="5"
                                                type="radio"/>

                                            <span>€5,00 oder weniger</span>
                                        </label>
                                    </p>
                                </div>
                            </div>

                            <div th:if="${param.lieferkosten == null}" class="ml-30" >
                                <p class="sr-filter-auswählen-p">
                                    <label>
                                        <input th:name="lieferkosten"
                                               th:value="2.5"
                                               type="radio"/>
                                        <span>€2,50 oder weniger</span>
                                    </label>
                                </p>
                                <p class="sr-filter-auswählen-p">
                                    <label>
                                        <input th:name="lieferkosten"
                                               th:value="5"
                                               type="radio"/>
                                        <span>€5,00 oder weniger</span>
                                    </label>
                                </p>
                            </div>

                            <h1 class="sr-filter-u-ueb">Mindestbestellwert</h1>

                            <div th:if="${param.mindestbestellwert != null}" class="ml-30">
                                <p class="sr-filter-auswählen-p">
                                    <label>

                                        <input th:if="${param.mindestbestellwert[0] == '10'}"
                                               th:name="mindestbestellwert"
                                               th:value="10"
                                               type="radio" checked/>
                                        <input th:if="${param.mindestbestellwert[0] != '10'}"
                                               th:name="mindestbestellwert"
                                               th:value="10"
                                               type="radio"/>

                                        <span>€10,00 oder weniger</span>
                                    </label>
                                </p>
                                <p class="sr-filter-auswählen-p">
                                    <label>

                                        <input th:if="${param.mindestbestellwert[0] == '15'}"
                                               th:name="mindestbestellwert"
                                               th:value="15"
                                               type="radio" checked/>
                                        <input th:if="${param.mindestbestellwert[0] != '15'}"
                                               th:name="mindestbestellwert"
                                               th:value="15"
                                               type="radio"/>

                                        <span>€15,00 oder weniger</span>
                                    </label>
                                </p>
                            </div>

                            <div th:if="${param.mindestbestellwert == null}" class="ml-30">
                                <p class="sr-filter-auswählen-p">
                                    <label>
                                        <input th:name="mindestbestellwert"
                                               th:value="10"
                                               type="radio"/>
                                        <span>€10,00 oder weniger</span>
                                    </label>
                                </p>
                                <p class="sr-filter-auswählen-p">
                                    <label>
                                        <input th:name="mindestbestellwert"
                                               th:value="15"
                                               type="radio"/>
                                        <span>€15,00 oder weniger</span>
                                    </label>
                                </p>
                            </div>

                            <br>


                            <button type="submit" class="btn waves-light btn-raised btn-round waves-effect btn-dg btn-rp dark btn-filter mt-130">Anwenden</button>
                            <br>

                        </form>
                        <form th:action="@{/restaurants/{plz}(plz=${plz})}" method="get">
                            <input th:name="adresse" th:if="${param.adresse != null}" th:value="${param.adresse}"
                                   type="hidden">
                            <input th:name="kategorie" th:if="${param.kategorie != null}" th:value="${param.kategorie}"
                                   type="hidden">
                            <button type="submit" class="btn waves-light btn-raised btn-round waves-effect btn-dg btn-rp dark btn-filter mt--10">Zurücksetzen</button>
                        </form>


                    </div>


                </div>


                <div class="col l9 " id="sr-restaurant-main-div">
                    <div id="sr-chips-div" class="hide-mob"
                         th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                        <form th:action="@{/restaurants/{plz}(plz=${plz})}" method="get">

                            <input th:name="adresse" th:if="${param.adresse != null}" th:value="${param.adresse}"
                                   type="hidden">
                            <input th:name="geoeffnet" th:if="${param.geoeffnet != null}" th:value="${param.geoeffnet}"
                                   type="hidden">
                            <input th:name="lieferkosten" th:if="${param.lieferkosten != null}"
                                   th:value="${param.lieferkosten}"
                                   type="hidden">
                            <input th:name="mindestbestellwert" th:if="${param.mindestbestellwert != null}"
                                   th:value="${param.mindestbestellwert}"
                                   type="hidden">

                            <div class="chip sr-chip waves-effect"
                                 th:classappend="${param.kategorie}==null ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" type="submit">ALLES</button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='FINE_DINING') ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" th:name="kategorie" th:value="FINE_DINING" type="submit">
                                    Fine Dining
                                </button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='CASUAL_DINING')   ? 'sr-chip-active'  : 'sr-chip-mrg'">

                                <button class="kategory-button" th:name="kategorie" th:value="CASUAL_DINING"
                                        type="submit">Casual Dining
                                </button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='FAMILY_STYLE')   ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" th:name="kategorie" th:value="FAMILY_STYLE"
                                        type="submit">Family Style
                                </button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='FAST_FOOD')   ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" th:name="kategorie" th:value="FAST_FOOD" type="submit">
                                    Fast Food
                                </button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='BUFFET')  ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" th:name="kategorie" th:value="BUFFET" type="submit">
                                    Buffet
                                </button>

                            </div>
                            <div class="chip sr-chip waves-effect"
                                 th:classappend="(${param.kategorie}!=null) and (${param.kategorie[0]}=='OTHER')   ? 'sr-chip-active'  : 'sr-chip-mrg'">
                                <button class="kategory-button" th:name="kategorie" th:value="OTHER" type="submit">
                                    Other
                                </button>

                            </div>
                        </form>

                    </div>

                    <div id="sr-restaurants-wrapper">


                        <h1 id="sr-filter-mob-ueb" class="hide-desktop" th:if="${param.adresse != null}"
                            th:text="${param.adresse} + ', ' + ${plz}">Text</h1>
                        <h1 id="sr-filter-mob-ueb" class="hide-desktop" th:if="${param.adresse == null}"
                            th:text="${plz}">Text</h1>

                        <ul class="collapsible hide-desktop">
                            <li>
                                <div class="collapsible-header collapsible-header-first sr-desk-filter"><i
                                        class="material-icons">sort</i>Filter
                                </div>
                                <div class="collapsible-body sr-filter-body-mob">

                                    <!-- Filter Body mobile -->

                                    <form th:action="@{/restaurants/{plz}(plz=${plz})}" method="get">
                                        <input th:name="adresse" th:if="${param.adresse != null}" th:value="${param.adresse}"
                                               type="hidden">
                                        <input th:name="kategorie" th:if="${param.kategorie != null}" th:value="${param.kategorie}"
                                               type="hidden">

                                        <div class="row">
                                            <div class="input-field col s3">
                                                <h1 class="sr-filter-u-ueb-m">Geöffnet</h1>
                                            </div>
                                            <div class="input-field col s6">
                                                <div class="switch">
                                                    <label>

                                                        <input th:if="${param.geoeffnet != null}" th:name="geoeffnet" th:value="true"
                                                               type="checkbox" checked>
                                                        <input th:if="${param.geoeffnet == null}" th:name="geoeffnet" th:value="true"
                                                               type="checkbox">
                                                        <span class="lever"></span>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <h1 class="sr-filter-u-ueb-m">Lieferkosten</h1>
                                        <div  th:if="${param.lieferkosten != null}">
                                            <div class="ml-30">
                                                <p class="sr-filter-auswählen-p">
                                                    <label>
                                                        <input th:if="${param.lieferkosten[0] == '2.5'}" th:name="lieferkosten"
                                                               th:value="2.5"
                                                               type="radio" checked/>
                                                        <input th:if="${param.lieferkosten[0] != '2.5'}" th:name="lieferkosten"
                                                               th:value="2.5"
                                                               type="radio"/>
                                                        <span>€2,50 oder weniger</span>
                                                    </label>
                                                </p>
                                                <p class="sr-filter-auswählen-p">
                                                    <label>

                                                        <input th:if="${param.lieferkosten[0] == '5'}" th:name="lieferkosten"
                                                               th:value="5"
                                                               type="radio" checked/>
                                                        <input th:if="${param.lieferkosten[0] != '5'}" th:name="lieferkosten"
                                                               th:value="5"
                                                               type="radio"/>

                                                        <span>€5,00 oder weniger</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>

                                        <div th:if="${param.lieferkosten == null}" class="ml-30" >
                                            <p class="sr-filter-auswählen-p">
                                                <label>
                                                    <input th:name="lieferkosten"
                                                           th:value="2.5"
                                                           type="radio"/>
                                                    <span>€2,50 oder weniger</span>
                                                </label>
                                            </p>
                                            <p class="sr-filter-auswählen-p">
                                                <label>
                                                    <input th:name="lieferkosten"
                                                           th:value="5"
                                                           type="radio"/>
                                                    <span>€5,00 oder weniger</span>
                                                </label>
                                            </p>
                                        </div>

                                        <h1 class="sr-filter-u-ueb">Mindestbestellwert</h1>

                                        <div th:if="${param.mindestbestellwert != null}" class="ml-30">
                                            <p class="sr-filter-auswählen-p">
                                                <label>

                                                    <input th:if="${param.mindestbestellwert[0] == '10'}"
                                                           th:name="mindestbestellwert"
                                                           th:value="10"
                                                           type="radio" checked/>
                                                    <input th:if="${param.mindestbestellwert[0] != '10'}"
                                                           th:name="mindestbestellwert"
                                                           th:value="10"
                                                           type="radio"/>

                                                    <span>€10,00 oder weniger</span>
                                                </label>
                                            </p>
                                            <p class="sr-filter-auswählen-p">
                                                <label>

                                                    <input th:if="${param.mindestbestellwert[0] == '15'}"
                                                           th:name="mindestbestellwert"
                                                           th:value="15"
                                                           type="radio" checked/>
                                                    <input th:if="${param.mindestbestellwert[0] != '15'}"
                                                           th:name="mindestbestellwert"
                                                           th:value="15"
                                                           type="radio"/>

                                                    <span>€15,00 oder weniger</span>
                                                </label>
                                            </p>
                                        </div>

                                        <div th:if="${param.mindestbestellwert == null}" class="ml-30">
                                            <p class="sr-filter-auswählen-p">
                                                <label>
                                                    <input th:name="mindestbestellwert"
                                                           th:value="10"
                                                           type="radio"/>
                                                    <span>€10,00 oder weniger</span>
                                                </label>
                                            </p>
                                            <p class="sr-filter-auswählen-p">
                                                <label>
                                                    <input th:name="mindestbestellwert"
                                                           th:value="15"
                                                           type="radio"/>
                                                    <span>€15,00 oder weniger</span>
                                                </label>
                                            </p>
                                        </div>

                                        <br>


                                        <button type="submit" class="btn waves-light btn-raised btn-round waves-effect btn-dg btn-rp dark btn-filter mt-130">Anwenden</button>
                                        <br>

                                    </form>
                                    <form th:action="@{/restaurants/{plz}(plz=${plz})}" method="get">
                                        <input th:name="adresse" th:if="${param.adresse != null}" th:value="${param.adresse}"
                                               type="hidden">
                                        <input th:name="kategorie" th:if="${param.kategorie != null}" th:value="${param.kategorie}"
                                               type="hidden">
                                        <button type="submit" class="btn waves-light btn-raised btn-round waves-effect btn-dg btn-rp dark btn-filter mt--10">Zurücksetzen</button>
                                    </form>

                                    <!--- ------------------------------------------------------------------>


                                </div>
                            </li>
                            <!--
                            <li>
                              <div class="collapsible-header"><i class="material-icons">price_check</i>Zwischen Preis</div>
                              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                            <li>
                              <div class="collapsible-header collapsible-header-last "><i class="material-icons"><span class="material-icons-outlined">unfold_more</span></i>Mehr</div>
                              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li> -->
                        </ul>


                        <!-- Restaurant CARD -->
                        <div class="sr-restaurants" th:each="mandant : ${mandanten}">
                            <div class="col s1 sr-rest-left">
                                <img class="sr-rest-img"
                                     src="https://eu.ui-avatars.com/api/?name=AS&background=5cdb95&color=fff">

                            </div>

                            <div class="col s4  sr-rest-right">
                                <h1 class="sr-rest-ueb" th:text="${mandant.firmenname}">Restaurant Name</h1>
                                <p class="sr-rest-p" th:text="${mandant.adresse}">Adresse</p>

                            </div>

                            <div class="col s6  sr-rest-stars hide-tab-rest-stars">

                                <span th:each="i : ${#numbers.sequence(1, mandant.rating)}"
                                      class="material-icons-outlined sr-rest-star-span">star </span>
                                <span th:each="i : ${#numbers.sequence(1, 5-mandant.rating)}"
                                      class="material-icons-outlined sr-rest-star-span">star_rate </span>

                            </div>

                            <div class="col s1  sr-rest-enter">
                                <span class="material-icons-outlined sr-rest-enter-ico"> <a class="restaurant-chip-arrow"
                                                                                            th:href="@{'/restaurant/' + ${mandant.id}}">arrow_forward</a></span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        </div>


        <div class="col l1 ">
        </div>


    </div>


</div>


</body>

<script type="text/javascript" th:src="@{/js/main/script.js}"></script>
<script type="text/javascript" th:src="@{/js/main/todark.js}"></script>

</html>




