<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title th:text="${restaurantName}"></title>

    <link th:href="@{/css/baukasten/baukasten.css}" rel="stylesheet" />

    <div th:replace="baukasten/fragments/header"></div>

</head>

<body>

    <div th:if="${edit}" th:replace="baukasten/fragments/modals"></div>

    <nav class="side-p">
        <div class="nav-wrapper">

            <a href="#" class="brand-logo brand-logo-js brand-logo-mob" th:text="${restaurantName}"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                    class="material-icons menu-icon">menu</i></a>


            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">HOME</a></li>
                <li><a href="#addPage" class="modal-trigger">ADD PAGE</a></li>

            </ul>
        </div>
    </nav>

    <ul class="sidenav nav-mob" id="mobile-demo">
        <h1 class="side-line-menu" th:text="${restaurantName}"></h1>
        <li class="marg-t-20 marg-b-8"><a href="index.php" class="waves-effect waves-light f-z-20 nav-mob-a"><i
                    class="material-icons icon-menu nav-mob-ico">home</i>Startseite</a></li>

    </ul>

    <div th:replace="${edit} ? ~{baukasten/fragments/sidenav} : ~{}"></div>

<!-- ----------------------------------------- -->

    <div th:replace="'baukasten/layouts/' + ${layout}"></div>

    <div class="result"></div>

    </body>
    <script type="text/javascript" th:src="@{/js/baukasten/script.js}"></script>
</html>