:root {
    --pink-color-main: #ff0266;
    --pink-color-light: #ff0256;
    --pink-color-sec: #ff7597;
    --blue-color-dm-main: #021b32;
    --blue-color-dm-sec: #ffffff0a;

    /* light mode input border color */
    --lm-input-box-shadow-focus: 0 0 0 0.2rem rgba(255, 117, 151, 1);



    /* Body bg color */
    --dm-base-body-bg-image: url("dashboard_bg.png");
    --dm-base-body-bg-color: #12073C;
    /* sidenav */
    --dm-sidebar-bg-color: transparent;
    /* navbar */
    --dm-navbar-bg-color: transparent;


    --lm-base-body-bg-color: #F8F8F8;
    --lm-sidebar-bg-color: #F8F8F8;
    --lm-navbar-bg-color: #F8F8F8;


    --primary-color: var(--pink-color-main);
    --primary-color-light: var(--pink-color-light);
    --primary-box-shadow-color: var(--pink-color-sec);




    /*
    --dm-button-primary-bg-color: var(--pink-color-main);
    --dm-badge-primary-bg-color: var(--pink-color-main);
    --dm-badge-primary-border-color: var(--pink-color-main);
    --dm-sidebar-link-text-color-active: var(--pink-color-main);

    --dm-sidebar-link-text-color-active-hover: var(--pink-color-light);
    --dm-button-primary-bg-color-hover: var(--pink-color-light);
    */


    /* Card */
    --card-border-radius: 8px; /* Before: var(--base-border-radius) */

    /* Card (dark mode only) */
    --dm-card-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Before: none */

    /* Input (dark mode only) */
    --dm-input-box-shadow: var(--lm-input-box-shadow); /* Before: none */
}

/* 
    Local scope 
    ~ This way, only the primary button's height and border width is affected.
    ~ Default button remains the same.
  */
.btn-primary {
    --button-height: 3.2rem; /* Before: 3.2rem (32px) after 3.6 */
    --button-border-width: 0; /* Before: var(--base-border-width) */
}

.dark-mode .card {
    background: var(--blue-color-dm-sec) !important;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
}

/* Borders ausschalten  */
.navbar-fixed-bottom {
    border: 0px !important;
}

.sidebar {
    border: 0px !important;
}

.navbar {
    border: 0px !important;
}


/* Card light mode */
.card {
    border: 0px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    border: 0px;
}

.form-control {
    border: 0px;
    background-color: #eeeeee;
}

.form-control:hover {
    background-color: #e4e4e4;
}

.first-card {
    background: rgb(243, 121, 66);
    background: linear-gradient(
            90deg,
            rgba(243, 121, 66, 1) 0%,
            rgba(255, 207, 96, 1) 100%
    );
    color: white;
}

.second-card {
    background: rgb(90, 185, 119);
    background: linear-gradient(
            90deg,
            rgba(90, 185, 119, 1) 0%,
            rgba(115, 194, 167, 1) 100%
    );
    color: white;
}

.third-card {
    background: rgb(117, 101, 170);
    background: linear-gradient(
            90deg,
            rgba(117, 101, 170, 1) 0%,
            rgba(165, 94, 164, 1) 100%
    );
    color: white;
}


.dark-mode {
    background-image: var(--dm-base-body-bg-image);
}

.dark-mode .card {
    background: rgb(255 255 255 / 10%) !important;

    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px !important;
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}



.font-size-35 {
    font-size: 35px;
}

.max-width-150 {
    max-width: 250px;
}

.max-width-130 {
    max-width: 180px;
}

@media (max-width: 769px) {
    .max-width-on-md-140 {
        max-width: 140px;
    }

    .dark-mode {
        background-position: 30% 50%;
    }

    .modal-dialog {
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 350px) {
    .max-width-on-sm-100 {
        max-width: 100px;
    }
}


.sidenav-pfp {
    width: 45px !important;
    height: 45px !important;
}


@media (min-width: 769px) {
    .box-shadow-lg-none {
        box-shadow: none !important;
    }
    .dark-mode .bg-dark-lg {
        background-color: #191c20 !important
    }
    .bg-dark-lg {
        background-color: white !important
    }

}

.dark-mode input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.mt-50-p {
    margin-top: 40% !important;
}