<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<head>

    <title>Dashboard - Bestellungen</title>
    <div th:replace="dashboard/fragments/header"></div>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar ">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">

        <div class="navbar-content"> <!--  d-sm-none d-none d-md-block -->
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!-- <img src="..." alt="..."> -->
            [[${firmenname}]]
        </a>

        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->

        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>

        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">
            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>

        </div>



    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">


        <div class="sidebar-menu">
            <!-- Sidebar brand -->
            <div class="sidebar-brand">
                <img class="sidenav-pfp rounded-circle" th:src="@{${'https://eu.ui-avatars.com/api/?name=' + vname + '+' + nname + '&background=ff0266&color=fff'}}">
                [[${user}]]
            </div>
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
            </div>

            <!-- Sidebar links (with icons) and titles -->
            <h5 class="sidebar-title">Hauptregister</h5>
            <div class="sidebar-divider"></div>
            <a href="/dashboard" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                Overview
            </a>
            <a href="/dashboard/bestellungen" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-fire " aria-hidden="true"></i>
                    </span>
                Zubereitung
            </a>
            <a href="/dashboard/zustellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                Zustellung
            </a>

            <br />

            <h5 class="sidebar-title">Verwaltung</h5>
            <div class="sidebar-divider"></div>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                    </span>
                Webseite
            </a>

            <a href="/dashboard/gerichte" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </span>
                Gerichte
            </a>


            <a href="/dashboard/bewertungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </span>
        Bewertungen
    </a>
            <a href="/dashboard/benutzer" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                Benutzerrechte
            </a>
            <a href="/dashboard/zahlungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-paypal" aria-hidden="true"></i>
                </span>
        Zahlungen
    </a>
            <a href="/dashboard/mandant" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </span>
                Mandant
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                Suchmaschiene
            </a>

            <a href="/dashboard/oeffnungszeiten" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                Öffnungszeiten
            </a>

            <a href="/dashboard/kategorien" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </span>
                Restaurantkategorien
            </a>

        </div>



    </div>
    <!-- Sidebar end -->

    
    <!-- Content wrapper start -->
    <div class="content-wrapper">




        <div class="container-fluid">
            <form th:action="@{/dashboard/bestellungen}" method="post" >
            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-0">




                <div class="col-lg-6">
                    <div class="content">

                        <div class="d-block d-sm-none h-25"></div>

                        <h2 class="card-title font-weight-bold mb-20">Lieferungen</h2>


                        <!--crads-->
                        <div class="content card pt-15 pb-15 pl-15 pr-15 mb-10 mt-0 ml-0 mr-0" th:each="bestellung: ${gerichteBestellungsDetail}">
                            <div class="row">

                                <div class="col-2 ">
                                        <span class="sidebar-icon">
                                            <h2 class="card-title font-weight-bold mb-0" th:text="${bestellung.counter}">1</h2>
                                        </span>
                                </div>

                                <div class="col-8">
                                    <ul style="list-style-type: none">
                                        <li class="font-weight-bold mb-0 mt-0 font-size-14" th:each="gericht: ${bestellung.gerichtBestellungModelList}" th:text="${gericht.value} + 'x- ' + ${gericht.key}">1x - Dürüm</li>
                                    </ul>

                                    <div class="sidebar-divider"></div>

                                    <p class="font-weight-bold mb-0 mt-0 font-size-12" th:text=" 'Eingang: ' + ${bestellung.timestamp}">Eingang: 17:30</p>
                                    <p class="font-weight-bold mb-0 mt-0 font-size-12" th:text=" 'Zusatzinfo: ' + ${bestellung.zusatzinfos}">Zusatzinfo: / </p>

                                </div>

                                <div class="col-2 ">

                                    <div class="d-flex align-items-center justify-content-center h-100">
                                        <div class="d-flex flex-column">
                                            <button type="submit" th:value="${bestellung.id}" name="lieferungChangeToFertigZumAbholen"
                                               class="btn btn-lg btn-square btn-primary rounded-circle mt-0 mb-0 "
                                               role="button"><i class="fa fa-check" aria-hidden="true"></i></button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- CARDS END  -->


                    </div>
                </div>

                <div class="col-lg-6 pr-lg-20">
                    <div class="content pr-lg-20">

                        <h2 class="card-title font-weight-bold mb-20">Abholungen</h2>



                        <!-- CARDS -->
                        <div class="content card pt-15 pb-15 pl-15 pr-15 mb-10 mt-0 ml-0 mr-0" th:each="bestellung: ${gerichteBestellungsDetailLieferung}">
                            <div class="row">

                                <div class="col-2 ">
                                        <span class="sidebar-icon">
                                            <h2 class="card-title font-weight-bold mb-0">1</h2>
                                        </span>
                                </div>

                                <div class="col-8 ">
                                    <ul style="list-style-type: none">
                                        <li class="font-weight-bold mb-0 mt-0 font-size-14" th:each="gericht: ${bestellung.gerichtBestellungModelList}" th:text="${gericht.value} + 'x- ' + ${gericht.key}">1x - Dürüm</li>
                                    </ul>

                                    <div class="sidebar-divider"></div>

                                    <p class="font-weight-bold mb-0 mt-0 font-size-12" th:text=" 'Eingang: ' + ${bestellung.timestamp}">Eingang: 17:30</p>
                                    <p class="font-weight-bold mb-0 mt-0 font-size-12" th:text=" 'Zusatzinfo: ' + ${bestellung.zusatzinfos}">Zusatzinfo: / </p>
                                </div>

                                <div class="col-2 ">

                                    <div class="d-flex align-items-center justify-content-center h-100">
                                        <div class="d-flex flex-column">
                                            <button type="submit" th:value="${bestellung.id}" name="abholungChangeToFertigZumAbholen"
                                               class="btn btn-lg btn-square btn-primary rounded-circle mt-0 mb-0 "
                                               role="button"><i class="fa fa-check" aria-hidden="true"></i></button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </form>





        </div>
        
    </div>










</div>
<!-- Content wrapper end -->




</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>

</html>