<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/html">
<head>

    <title>Dashboard</title>
    <div th:replace="dashboard/fragments/header"></div>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar ">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>


    <!-- MODAL gerichte hinzufügen -->
    <div class="modal" id="modal-add-gericht" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Gericht hinzufügen</h5>
                <form th:action="@{/dashboard/gerichte/save}" method="post" th:object="${gericht}">
                    <div class="form-group">
                        <label for="gericht-name" class="required">Name</label>
                        <input type="text" id="gericht-name" class="form-control" placeholder="Wiener Schnitzel" th:field="*{name}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="gericht-desc" class="required">Beschreibung</label>
                        <input type="text" id="gericht-desc" class="form-control" placeholder="Leckeres Wiener Schnitzel mit Kartoffelsalat" th:field="*{beschreibung}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="gericht-preis" class="required">Preis</label>
                        <input step="any" type="number" id="gericht-preis" class="form-control" placeholder="12,50" th:field="*{preis}" required="required">
                    </div>

                    <div class="form-group">
                        <div class="custom-switch">
                            <input type="checkbox" id="gerichte-aktiviert" name="aktiviert" value="true" checked="checked">
                            <label for="gerichte-aktiviert">aktiviert</label>
                        </div>
                    </div>



                    <input class="btn btn-primary btn-block" type="submit" value="erstellen">
                </form>

            </div>
        </div>
    </div>

    <!-- MODAL gerichte bearbeiten -->
    <div class="modal" id="modal-edit-gericht" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Gericht bearbeiten</h5>
                <form th:action="@{/dashboard/gerichte/save}" method="post" th:object="${gericht}">
                    <input type="hidden" id="gericht-edit-id" th:field="*{id}">
                    <input type="hidden" id="gericht-edit-anzahl-gekauft" th:field="*{anzahl_gekauft}">
                    <div class="form-group">
                        <label for="gericht-edit-name" class="required">Name</label>
                        <input type="text" id="gericht-edit-name" class="form-control" value="" required="required" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="gericht-edit-desc" class="required">Beschreibung</label>
                        <input type="text" id="gericht-edit-desc" class="form-control" value="" th:field="*{beschreibung}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="gericht-edit-preis" class="required">Preis</label>
                        <input type="number" step="any" id="gericht-edit-preis" class="form-control" value="" th:field="*{preis}" required="required">
                    </div>

                    <div class="form-group">
                        <label for="gericht-edit-aktionspreis" class="required">Aktionspreis</label>
                        <input type="number" step="any" id="gericht-edit-aktionspreis" class="form-control" value="" th:field="*{preisangebot}" required="required">
                    </div>

                    <div class="form-group mb-10">
                        <div class="custom-switch">
                            <input type="checkbox" id="gerichte-edit-aktiviert" name="aktiviert" value="true">
                            <label for="gerichte-edit-aktiviert">aktiviert</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-switch">
                            <input type="checkbox" id="gerichte-edit-aktionspreis-aktiviert" name="aktion" value="true" >
                            <label for="gerichte-edit-aktionspreis-aktiviert">Aktionspreis verwenden</label>
                        </div>
                    </div>

                    <input class="btn btn-primary btn-block" type="submit" value="speichern">
                </form>

            </div>
        </div>
    </div>


    <!-- Modal deaktivierte Gerichte -->
    <div class="modal modal-full ie-scroll-fix" id="modal-deaktivated-gericht" tabindex="-1" role="dialog">
        <div class="modal-dialog bg-dark-lg" role="document">
            <div class="modal-content box-shadow-lg-none">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

                            <div class="d-flex align-items-start">
                                <h2 class="content-title mb-0">Deaktivierte Gerichte</h2>
                                <span class="badge badge-primary ml-10 align-middle m-auto">deaktiviert</span>
                            </div>

                            <p class="mb-20 mt-0">Hier sehen Sie alle deaktivierten Gerichte</p>

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="d-none d-md-table-cell">Preis</th>
                                    <th class="d-none d-md-table-cell">Aktion</th>
                                    <th class="d-none d-md-table-cell">Beschreibung</th>
                                    <th class="d-none d-md-table-cell">aktivieren</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="gericht: ${gerichteListStatusZero}">
                                    <tr>
                                        <th class="text-truncate max-width-on-md-140 max-width-on-sm-100">[[${gericht.name}]]</th>
                                        <td class="d-none d-md-table-cell">[[${gericht.preis}]] €</td>
                                        <td class="d-none d-md-table-cell">[[${gericht.preisangebot}]] €</td>
                                        <td class="d-none d-md-table-cell text-truncate max-width-130">[[${gericht.beschreibung}]]</td>
                                        <td class="text-center">
                                        <a th:href="@{/dashboard/gerichte/} + ${gericht.id}"
                                           class="btn btn-square btn-primary rounded-circle mt-0 mb-0 "
                                           role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                        <!--
                                        <td >
                                            <a href="#modal-deaktivate-gericht"
                                               class="btn btn-square btn-primary rounded-circle mt-0 mb-0 "
                                               role="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </td> -->
                                    </tr>
                                </th:block>




                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- MODAL gerichte info -->
    <div class="modal" id="modal-info-gericht" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Informationen zum Gericht</h5>


                <p class="card-title mb-5 font-size-16">Name:</p>
                <input type="text" disabled class="form-control" id="gericht-info-name" value="">

                <p class="card-title mb-5 mt-10 font-size-16">Beschreibung:</p>
                <textarea class="form-control form-control-sm" id="gericht-info-beschreibung" rows="3" cols="50" disabled ></textarea>

                <p class="card-title mb-5 mt-10 font-size-16">Preis:</p>
                <input type="text" disabled class="form-control" id="gericht-info-preis" value="">

                <p class="card-title mb-5 mt-10 font-size-16">Aktionspreis:</p>
                <input type="text" disabled class="form-control" value="" id="gericht-info-aktionspreis">

                <div class="form-group mt-20 mb-10">
                    <div class="custom-switch">
                        <input type="checkbox" id="gerichte-info-aktiviert" disabled value="true">
                        <label for="gerichte-info-aktiviert">aktiviert</label>
                    </div>
                </div>

                <div class="form-group mb-0">
                    <div class="custom-switch">
                        <input type="checkbox" id="gerichte-info-aktionspreis-aktiviert" disabled value="true">
                        <label for="gerichte-info-aktionspreis-aktiviert">Aktionspreis verwenden</label>
                    </div>
                </div>




            </div>
        </div>
    </div>



    <!-- MODAL gerichte disable
    <div class="modal" id="modal-deaktivate-gericht" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title mb-5">Gericht deaktivieren</h5>
                <p class="mt-0">
                    Möchten Sie das Gericht wirklich deaktivieren?
                </p>


                <div class="text-right mt-20">
                    <a href="#" class="btn mr-5" role="button">cancel</a>
                    <a href="#" class="btn btn-danger" role="button">deaktivieren</a>
                </div>

            </div>
        </div>
    </div>
    -->


    <!-- Navbar start -->
    <nav class="navbar">

        <div class="navbar-content"> <!--  d-sm-none d-none d-md-block -->
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>

        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!-- <img src="..." alt="..."> -->
            Asiamix Imst
        </a>

        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->

        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <button class="btn btn-primary">Logout</button>
        </div>

        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">
            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>

        </div>



    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">



        <div class="sidebar-menu">
            <!-- Sidebar brand -->
            <div class="sidebar-brand">
                <img class="sidenav-pfp rounded-circle" src="https://eu.ui-avatars.com/api/?name=Michael+Bogensberger&background=ff0266&color=fff">
                Michael B
            </div>
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
            </div>

            <!-- Sidebar links (with icons) and titles -->
            <h5 class="sidebar-title">Hauptregister</h5>
            <div class="sidebar-divider"></div>
            <a href="/dashboard" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                Overview
            </a>
            <a href="/dashboard/bestellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-fire " aria-hidden="true"></i>
                    </span>
                Zubereitung
            </a>
            <a href="/dashboard/zustellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                Zustellung
            </a>

            <br />

            <h5 class="sidebar-title">Verwaltung</h5>
            <div class="sidebar-divider"></div>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                        </span>
                Webseite
            </a>

            <a href="/dashboard/gerichte" class="sidebar-link sidebar-link-with-icon active">
                        <span class="sidebar-icon">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </span>
                Gerichte
            </a>


            <a href="/dashboard/bewertungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </span>
        Bewertungen
    </a>
            <a href="/dashboard/benutzer" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                Benutzerrechte
            </a>
            <a href="/dashboard/zahlungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-paypal" aria-hidden="true"></i>
                </span>
        Zahlungen
    </a>
            <a href="/dashboard/mandant" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </span>
                Mandant
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                Suchmaschiene
            </a>

            <a href="/dashboard/oeffnungszeiten" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                Öffnungszeiten
            </a>

            <a href="/dashboard/kategorien" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </span>
                Resterauntkategorien
            </a>

        </div>



    </div>
    <!-- Sidebar end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">


        <div class="container-fluid">
            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-0">
                <div class="col-lg-12">



                    <!-- First row (equally spaced) -->
                    <div class="row row-eq-spacing-lg pl-0 pr-0 ml-0">

                        <div class="col-lg-6 col-xl-4 col-md-12 col-sm-12 ">


                            <div class="card pt-15 pb-15 first-card">
                                <div class="sidebar-link-with-icon">
                                        <span class="sidebar-icon w-50 h-50">
                                            <i class="fa fa-cutlery text-white-lm font-size-35" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0" th:text="*{numberAll} + ' ' + Gerichte"></h2>
                                </div>
                            </div>



                        </div>

                        <!-- <div class="v-spacer d-xl-none"></div> -->

                        <div class="col-lg-6 col-xl-4 col-md-12 col-sm-12">



                            <div class="card pt-15 pb-15 second-card">
                                <div class="sidebar-link-with-icon">
                                        <span class="sidebar-icon w-50 h-50">
                                            <i class="fa fa-eye text-white-lm font-size-35" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0" th:text="*{numberActive} + ' ' + aktiviert"></h2>
                                </div>
                            </div>



                        </div>


                        <!-- Overflow occurs here on large screens (and down) -->
                        <!-- Therefore, a v-spacer is added at this point -->
                        <!-- <div class="v-spacer d-xl-none"></div> -->
                        <!-- d-xl-none = display: none only on extra large screens (> 1200px) -->



                        <div class="col-lg-6 col-xl-4 col-md-12 col-sm-12">


                            <div class="card pt-15 pb-15 third-card">
                                <div class="sidebar-link-with-icon">
                                        <span class="sidebar-icon w-50 h-50">
                                            <i class="fa fa-eye-slash text-white-lm font-size-35" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0" th:text="*{numberDisabled} + ' ' + deaktiviert"></h2>
                                </div>
                            </div>




                        </div>



                    </div>
                    <!-- Second row (equally spaced on large screens and up) -->





                    <!-- Third row (equally spaced on large screens and up) -->
                    <div class="row row-eq-spacing-lg pl-0 pr-0">
                        <div class="col-lg-9 order-last order-lg-first">
                            <div class="content card pt-15 pb-15">
                                <div class="d-flex align-items-start">
                                    <h2 class="content-title mb-0">Gerichte</h2>
                                    <span class="badge badge-primary ml-10 align-middle m-auto">aktiviert</span>
                                </div>
                                    <p class="mb-20 mt-0">Hier können die Gerichte bearbeiter werden</p>


                            <!--
                                <tr th:each="gericht: ${gerichteList}">
                                    <td ><a data-bs-toggle="modal" data-row="${gericht}"
                                            th:attr="data-bs-target='#editGericht-'+${gericht.id}">Inactivate</a>

                                    </td>
                                </tr>
                            -->



                                        <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-md-table-cell">Preis</th>
                                        <th class="d-none d-md-table-cell">Aktion</th>
                                        <th class="d-none d-md-table-cell">Beschreibung</th>
                                        <th class="d-none d-md-table-cell">detail</th>
                                        <th >edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="gericht: ${gerichteList}">
                                        <tr>
                                            <th class="text-truncate max-width-on-md-140 max-width-on-sm-100 max-width-150">[[${gericht.name}]]</th>
                                            <td class="d-none d-md-table-cell">[[${gericht.preis}]] €</td>
                                            <td class="d-none d-md-table-cell">[[${gericht.preisangebot}]] €</td>
                                            <td class="d-none d-md-table-cell text-truncate max-width-130">[[${gericht.beschreibung}]]</td>
                                            <td class="d-none d-md-table-cell">
                                                <!-- href="#modal-info-gericht"
                                                 onclick="gerichtInfo(2)"
                                                 -->
                                                <a  th:onclick="gerichtInfo([[${gericht.id}]])"
                                                   class="btn btn-square btn-primary rounded-circle mt-0 mb-0 "
                                                   role="button">
                                                    <p class="gericht-id" style="display: none">[[${gericht.id}]]</p>
                                                    <i class="fa fa-info" aria-hidden="true"></i></a>
                                            </td>
                                            <td >
                                                <a th:onclick="gerichtEdit([[${gericht.id}]])"
                                                   class="btn btn-square btn-primary rounded-circle mt-0 mb-0 "
                                                   role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <!--
                                            <td >
                                                <a href="#modal-deaktivate-gericht"
                                                   class="btn btn-square btn-primary rounded-circle mt-0 mb-0 "
                                                   role="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                            </td> -->
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>


                            </div>


                        </div>
                        <div class="col-lg-3 order-first order-lg-last">


                            <div class="content card pt-15 pb-15">
                                <h2 class="content-title mb-0">Hinzufügen</h2>
                                <p class="mb-0 mt-0">Hier können Sie neue Gerichte erstellen</p>

                                <div class="text-center">
                                    <img th:src="@{/css/dashboard/3dIcons/tea-cup-dynamic-gradient.png}" width="240px" class="img-fluid rounded" alt="...">
                                </div>


                                <div class="d-flex justify-content-center">
                                    <a href="#modal-add-gericht" class="w-full"><button class="btn btn-primary btn-block" type="button">Gericht hinzufügen</button></a>
                                </div>
                            </div>


                            <div class="content card pt-15 pb-15 mb-20 mb-md-0">
                                <h2 class="content-title mb-0">Deaktiviertes</h2>
                                <p class="mb-10 mt-0">Alle deaktivierten Gerichte</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#modal-deaktivated-gericht" class="w-full"><button class="btn btn-primary btn-block" type="button">Gerichte anzeigen</button></a>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>




            </div>
        </div>





    </div>











</div>
<!-- Content wrapper end -->




</div>


<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>


<script>
    function gerichtInfo(id) {
        //alert(id);

        $.get("../api/gericht/" +id, function(data, status) {
            console.log(data)
            //alert("Data: " + data + "\nStatus: " + status);

            $('#gericht-info-name').val(data.name);
            $('#gericht-info-beschreibung').val(data.beschreibung);
            $('#gericht-info-preis').val(data.preis);
            $('#gericht-info-aktionspreis').val(data.preisangebot);


            if (data.status == 1 || data.status == 2) {
                $('#gerichte-info-aktiviert').prop('checked', true);
            } else {
                $('#gerichte-info-aktiviert').prop('checked', false);
            }

            if(data.status == 2) {
                $('#gerichte-info-aktionspreis-aktiviert').prop('checked', true);
            } else {
                $('#gerichte-info-aktionspreis-aktiviert').prop('checked', false);
            }


            halfmoon.toggleModal('modal-info-gericht')

        });

    }


    function gerichtEdit(id) {




        $.get("../api/gericht/" +id, function(data, status){

            $('#gericht-edit-name').val(data.name);
            $('#gericht-edit-desc').val(data.beschreibung);
            $('#gericht-edit-preis').val(data.preis);
            $('#gericht-edit-aktionspreis').val(data.preisangebot);
            $('#gericht-edit-id').val(data.id);
            $('#gericht-edit-status').val(data.status);
            $('#gericht-edit-anzahl-gekauft').val(data.anzahl_gekauft);

            if (data.status == 1 || data.status == 2) {
                $('#gerichte-edit-aktiviert').prop('checked', true);
            } else {
                $('#gerichte-edit-aktiviert').prop('checked', false);
            }

            if(data.status == 2) {
                $('#gerichte-edit-aktionspreis-aktiviert').prop('checked', true);
            } else {
                $('#gerichte-edit-aktionspreis-aktiviert').prop('checked', false);
            }

        });

        halfmoon.toggleModal('modal-edit-gericht');

    }


</script>



</body>



</html>