<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/html">
<head>

    <title>Dashboard</title>
    <div th:replace="dashboard/fragments/header"></div>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar with-transitions">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">

        <div class="navbar-content"> <!--  d-sm-none d-none d-md-block -->
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!-- <img src="..." alt="..."> -->
            [[${firmenname}]]
        </a>

        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->

        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>

        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">


            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>


        </div>


    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">


        <div class="sidebar-menu">
            <!-- Sidebar brand -->
            <div class="sidebar-brand">
                <img class="sidenav-pfp rounded-circle" th:src="@{${'https://eu.ui-avatars.com/api/?name=' + vname + '+' + nname + '&background=ff0266&color=fff'}}">
                [[${user}]]
            </div>
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
            </div>

            <!-- Sidebar links (with icons) and titles -->
            <h5 class="sidebar-title">Hauptregister</h5>
            <div class="sidebar-divider"></div>
            <a href="/dashboard" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                Overview
            </a>
            <a href="/dashboard/bestellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-fire " aria-hidden="true"></i>
                    </span>
                Zubereitung
            </a>
            <a href="/dashboard/zustellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                Zustellung
            </a>

            <br/>

            <h5 class="sidebar-title">Verwaltung</h5>
            <div class="sidebar-divider"></div>

            <a href="/baukasten" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                    </span>
                Webseite
            </a>

            <a href="/dashboard/gerichte" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </span>
                Gerichte
            </a>


            <a href="/dashboard/bewertungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </span>
        Bewertungen
    </a>
            <a href="/dashboard/benutzer" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                Benutzerrechte
            </a>
            <a href="/dashboard/zahlungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-paypal" aria-hidden="true"></i>
                </span>
        Zahlungen
    </a>
            <a href="/dashboard/mandant" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </span>
                Mandant
            </a>
  

            <a href="/dashboard/oeffnungszeiten" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                Öffnungszeiten
            </a>

            <a href="/dashboard/kategorien" class="sidebar-link sidebar-link-with-icon active">
                        <span class="sidebar-icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </span>
                Restaurantkategorien
            </a>


        </div>

    </div>
    <!-- Sidebar end -->




    <!-- Content wrapper start -->
    <div class="content-wrapper">




        <div class="container-fluid">





            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-0">








                <div class="col-lg-12 ">

                    <div class="content pt-15 pb-0 mb-0">

                        <div class="ml-10">
                            <div class="sidebar-link-with-icon mb-10">
                                            <span class="sidebar-icon">
                                                <i class="fa fa-outdent  text-white-lm" aria-hidden="true"></i>
                                            </span>
                                <h2 class="card-title font-weight-bold mb-0">Kategorien</h2>

                            </div>
                            <p class="mt-0">Hier können Sie eine Kategorie für Ihr Restaurant auswählen:</p>
                        </div>


                        <div class="row row-eq-spacing pl-0 ml-0">



                            <div class="col-12 col-xl-4">
                                <div class="card mt-0 mb-20">
                                    <h2 class="card-title mb-5 mt-0">Bearbeiten</h2>
                                    <p class="mt-0">Hier können Sie eine Kategorie auswählen:</p>


                                    <form th:action="@{/dashboard/kategorien/save}" method="post">
                                    <!-- First radio button -->
                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="fine-dining" checked="checked" value="FINE_DINING" th:if="${kategorie == 'FINE_DINING'}">
                                        <input type="radio" name="radio-set-1" id="fine-dining" value="FINE_DINING">
                                        <label for="fine-dining">Fine Dining</label>
                                    </div>

                                    <!-- Second radio button (checked by default) -->
                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="casual-dining" checked="checked" value="CASUAL_DINING" th:if="${kategorie == 'CASUAL_DINING'}">
                                        <input type="radio" name="radio-set-1" id="casual-dining" value="CASUAL_DINING">
                                        <label for="casual-dining">Casual Dining</label>
                                    </div>

                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="family-style" checked="checked" value="FAMILY_STYLE" th:if="${kategorie == 'FAMILY_STYLE'}">
                                        <input type="radio" name="radio-set-1" id="family-style" value="FAMILY_STYLE">
                                        <label for="family-style">Family Style</label>
                                    </div>

                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="fast-food" checked="checked" value="FAST_FOOD" th:if="${kategorie == 'FAST_FOOD'}">
                                        <input type="radio" name="radio-set-1" id="fast-food" value="FAST_FOOD">
                                        <label for="fast-food">Fast Food</label>
                                    </div>

                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="buffet" checked="checked" value="BUFFET" th:if="${kategorie == 'BUFFET'}">
                                        <input type="radio" name="radio-set-1" id="buffet" value="BUFFET">
                                        <label for="buffet">Buffet</label>
                                    </div>

                                    <div class="custom-radio mb-5">
                                        <input type="radio" name="radio-set-1" id="other" checked="checked" value="OTHER" th:if="${kategorie == 'OTHER'}">
                                        <input type="radio" name="radio-set-1" id="other" value="OTHER">
                                        <label for="other">other</label>
                                    </div>


                                    <button class="btn btn-primary btn-block mb-0 mt-20 pb-0" type="submit">speichern</button>
                                    </form>


                                </div>
                            </div>


                            <div class="col-12 col-xl-5 d-none d-lg-block">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-6">
                                            <h2 class="card-title mb-0">Information</h2>
                                            <p class="mt-0">Die hier ausgewählte Kategorie representiert das Restaurant. Nach jener Kategorie kann
                                            nun auf der Kundenseite gefiltert bzw. gesucht werden.</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-center">
                                                <img th:src="@{/css/dashboard/3dIcons/flag-dynamic-gradient.png}"  width="200px" class="img-fluid rounded" alt="...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="content card pt-15 pb-15 d-lg-none ml-10 mr-10">
                                <div class="text-center">
                                    <img th:src="@{/css/dashboard/3dIcons/flag-dynamic-gradient.png}" width="240px" class="img-fluid rounded" alt="...">
                                </div>
                                <h2 class="content-title mb-5 text-center">Information</h2>
                                <p class="mb-0 mt-0">Die hier ausgewählte Kategorie representiert das Restaurant. Nach jener Kategorie kann
                                    nun auf der Kundenseite gefiltert bzw. gesucht werden.</p>
                            </div>



                        </div>







                    </div>
                </div>




            </div>



        </div>











    </div>
    <!-- Content wrapper end -->





</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>


</body>
</html>