<!doctype html>
<html lang="de">
<head>

    <title>Dashboard</title>
    <div th:replace="dashboard/fragments/header"></div>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar with-transitions">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">

        <div class="navbar-content"> <!--  d-sm-none d-none d-md-block -->
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!-- <img src="..." alt="..."> -->
            Asiamix Imst
        </a>

        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->

        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <button class="btn btn-primary">Logout</button>
        </div>

        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">


            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>



        </div>



    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">



        <div class="sidebar-menu">
            <!-- Sidebar brand -->
            <div class="sidebar-brand">
                <img class="sidenav-pfp rounded-circle" src="https://eu.ui-avatars.com/api/?name=Michael+Bogensberger&background=ff0266&color=fff">
                Michael B
            </div>
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
            </div>

            <!-- Sidebar links (with icons) and titles -->
            <h5 class="sidebar-title">Hauptregister</h5>
            <div class="sidebar-divider"></div>
            <a href="/dashboard" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                Overview
            </a>
            <a href="/dashboard/bestellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                Alle Bestellungen
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                Lieferungen
            </a>

            <a href="#" class="sidebar-link sidebar-link-with-icon mb-0  pb-0">
                    <span class="sidebar-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                Abholungen
            </a>

            <br />

            <h5 class="sidebar-title">Verwaltung</h5>
            <div class="sidebar-divider"></div>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                    </span>
                Webseite
            </a>

            <a href="/dashboard/gerichte" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </span>
                Gerichte
            </a>


            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </span>
                Analytics
            </a>
            <a href="/dashboard/benutzer" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                Benutzerrechte
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-paypal" aria-hidden="true"></i>
                    </span>
                Zahlungen
            </a>
            <a href="/dashboard/mandant" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </span>
                Mandant
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                Suchmaschiene
            </a>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                Öffnungszeiten
            </a>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </span>
                Resterauntkategorien
            </a>



        </div>

    </div>
    <!-- Sidebar end -->



    <!-- Content wrapper start -->
    <div class="content-wrapper">




        <div class="container-fluid">





            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-0">

                <div class="col-lg-12">
                    <form action="..." method="...">

                    <!--
                    <div class="content">
                        <h1 class="content-title font-size-22 pl-15">
                            Dashboard
                        </h1>
                    </div>
                    -->

                    <!-- First row (equally spaced) -->
                    <div class="row row-eq-spacing-lg pl-0 pr-0 ml-0">

                        <div class="col-lg-6 col-xl-3 col-md-12 col-sm-12 ">


                            <div class="content card pt-15 pb-15">
                                <div class="sidebar-link-with-icon mb-10">
                                        <span class="sidebar-icon">
                                            <i class="fa fa-list-alt  text-white-lm" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0">Allgemein</h2>
                                </div>


                                    <div class="form-group">
                                        <label for="man-firmenname" class="required">Firmenname</label>
                                        <input type="text" id="man-firmenname" class="form-control" value="Asiamix Imst" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="man-email" class="required">Email</label>
                                        <input type="email" id="man-email" class="form-control" value="asiamix@gmail.com" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="man-tel" class="required">Telefon</label>
                                        <input type="tel" id="man-tel" class="form-control" value="06606558134" required="required">
                                    </div>


                            </div>
                        </div>



                        <!-- <div class="v-spacer d-xl-none"></div> -->

                        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                            <div class="card pt-15 pb-15">

                                <div class="sidebar-link-with-icon">
                                        <span class="sidebar-icon">
                                            <i class="fa fa-map-marker text-white-lm" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0">Standort</h2>
                                </div>
                                <p class="mt-5 mb-10">Hier finden Sie Informationen zu ihrem Standort.</p>

                                <div class="form-group">
                                    <label for="man-land" class="required">Land</label>
                                    <input type="text" id="man-land" class="form-control" value="Tirol" required="required">
                                </div>

                                <div class="form-group">
                                    <label for="man-ort" class="required">Ort</label>
                                    <input type="text" id="man-ort" class="form-control" value="Imst" required="required">
                                </div>

                                <div class="form-group">
                                    <label for="man-plz" class="required">PLZ</label>
                                    <input type="number" id="man-plz" class="form-control" value="6460" required="required">
                                </div>

                                <div class="form-inline-sm">
                                    <label for="if-1-man-strasse" class="required">Straße</label>
                                    <input type="text" class="form-control" value="Hinterseberweg" id="if-1-man-strasse" required="required">
                                    <label for="if-1-man-hausnummer" class="required">Hsnr.</label>
                                    <input type="text" class="form-control" value="12b" id="if-1-man-hausnummer" required="required">
                                </div>




                            </div>
                        </div>


                        <!-- Overflow occurs here on large screens (and down) -->
                        <!-- Therefore, a v-spacer is added at this point -->
                        <!-- <div class="v-spacer d-xl-none"></div> -->
                        <!-- d-xl-none = display: none only on extra large screens (> 1200px) -->



                        <div class="col-lg-6 col-xl-3 col-md-12 col-sm-12">
                            <div class="card pt-15 pb-15">

                                <div class="sidebar-link-with-icon mb-10">
                                        <span class="sidebar-icon">
                                            <i class="fa fa-credit-card-alt text-white-lm" aria-hidden="true"></i>
                                        </span>
                                    <h2 class="card-title font-weight-bold mb-0">Sonstiges</h2>
                                </div>

                                <div class="form-group">
                                    <label for="man-lieferkosten" class="required">Lieferkosten</label>
                                    <div class="input-group">
                                        <input type="number" id="man-lieferkosten" class="form-control" value="7.50" required="required">
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="man-minwert" class="required">Mindestbestellwert</label>
                                    <div class="input-group">
                                        <input type="number" id="man-minwert" class="form-control" value="10.00" required="required">
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>

                                </div>



                            </div>

                        </div>





                    </div>
                    <!-- Second row (equally spaced on large screens and up) -->



                        <div class="row row-eq-spacing-lg pl-0 pr-0 ml-0">
                            <div class="col-2 col-lg-3 col-sm-2 col-md-2">
                            </div>

                            <div class="col-8 col-lg-6 col-sm-8 col-md-8">
                                <button class="btn btn-primary btn-block" type="submit">speichern</button>
                            </div>

                            <div class="col-2 col-lg-3 col-sm-2 col-md-2">
                            </div>

                        </div>







</form>
                         </div>



            </div>



        </div>











    </div>
    <!-- Content wrapper end -->




</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>







</body>
</html>