<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/html">
<head>

    <title>Dashboard</title>
    <div th:replace="dashboard/fragments/header"></div>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar with-transitions">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">

        <div class="navbar-content"> <!--  d-sm-none d-none d-md-block -->
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!-- <img src="..." alt="..."> -->
            Asiamix Imst
        </a>

        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->

        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <button class="btn btn-primary">Logout</button>
        </div>

        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">


            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>



        </div>



    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">



        <div class="sidebar-menu">
            <!-- Sidebar brand -->
            <div class="sidebar-brand">
                <img class="sidenav-pfp rounded-circle" src="https://eu.ui-avatars.com/api/?name=Michael+Bogensberger&background=ff0266&color=fff">
                Michael B
            </div>
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
            </div>

            <!-- Sidebar links (with icons) and titles -->
            <h5 class="sidebar-title">Hauptregister</h5>
            <div class="sidebar-divider"></div>
            <a href="/dashboard" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                Overview
            </a>
            <a href="/dashboard/bestellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-fire " aria-hidden="true"></i>
                    </span>
                Zubereitung
            </a>
            <a href="/dashboard/zustellungen" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                Zustellung
            </a>

            <br />

            <h5 class="sidebar-title">Verwaltung</h5>
            <div class="sidebar-divider"></div>

            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                    </span>
                Webseite
            </a>

            <a href="/dashboard/gerichte" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </span>
                Gerichte
            </a>


            <a href="/dashboard/bewertungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </span>
        Bewertungen
    </a>
            <a href="/dashboard/benutzer" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                Benutzerrechte
            </a>
            <a href="/dashboard/zahlungen" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fa fa-paypal" aria-hidden="true"></i>
                </span>
        Zahlungen
    </a>
            <a href="/dashboard/mandant" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </span>
                Mandant
            </a>
            <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                Suchmaschiene
            </a>

            <a href="#" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                Öffnungszeiten
            </a>

            <a href="/dashboard/kategorien" class="sidebar-link sidebar-link-with-icon">
                        <span class="sidebar-icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </span>
                Restaurantkategorien
            </a>



        </div>

    </div>
    <!-- Sidebar end -->



    <!-- Content wrapper start -->
    <div class="content-wrapper">




        <div class="container-fluid">



            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-20 d-lg-none">
                <div class="col-lg-12 mt-50-p">
                    <div class="content pt-15 pb-15">

                        <div class="text-center">
                            <img th:src="@{/css/dashboard/3dIcons/lock-dynamic-gradient.png}"  width="200px" class="img-fluid rounded" alt="...">
                        </div>
                        <h2 class="content-title mb-0 text-center font-size-24 font-weight-bold">Öffnungszeiten</h2>
                        <p class="mb-0 mt-0 text-center ">Seite nur auf Desktop verfügbar</p>

                    </div>
                </div>
            </div>





            <div class="row row-eq-spacing-lg pl-0 pr-0 mt-0">








                <div class="col-lg-12 d-none d-lg-block ">

                    <div class="content pt-15 pb-0 mb-0">
                        <div class="sidebar-link-with-icon mb-10">
                                        <span class="sidebar-icon">
                                            <i class="fa fa-calendar-o  text-white-lm" aria-hidden="true"></i>
                                        </span>
                            <h2 class="card-title font-weight-bold mb-0">Öffnungszeiten</h2>

                        </div>
                        <p class="mt-0">Hier können Sie die Öffnungszeiten Ihres Restaurants anpassen:</p>



                        <table class="table card ml-0 mb-5">
                        <thead>
                        <tr>
                            <th>Tag</th>
                            <th>geöffnet</th>
                            <th>von-bis</th>
                            <th>Pause</th>
                            <th>von-bis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form th:action="@{/dashboard/oeffnungszeiten/save}" method="post">
                        <!-- Montag -->
                        <tr th:each="oz : ${oeffnungszeiten}">
                            <td th:text="${oz.tag}">Montag</td>
                            <td>
                                <div class="custom-switch">
                                    <input th:if="${oz.oeffnungszeit != null and oz.schliessungszeit != null}" th:name="btn1" type="checkbox" th:id="${oz.eid2}" value="true" checked>
                                    <input type="checkbox" th:id="${oz.eid2}" value="" >
                                    <label th:for="${oz.eid2}"></label>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <input th:id="${oz.idFieldOffenVon}" th:name="fn1" type="time" class="form-control" placeholder="Von" th:value="${oz.oeffnungszeit}">
                                    <input th:id="${oz.idFieldOffenBis}" th:name="fn2" type="time" class="form-control" placeholder="Bis" th:value="${oz.schliessungszeit}">
                                </div>
                            </td>

                            <td>
                                <div class="custom-switch">
                                    <input type="checkbox" th:id="${oz.eid}" th:name="btn2" value="true" checked th:if="${oz.endepause != null and oz.startpause != null}">
                                    <input type="checkbox" th:id="${oz.eid}" value=""  th:unless="${oz.endepause == null and oz.startpause == null}">
                                    <label th:for="${oz.eid}"></label>
                                </div>
                            </td>


                            <td>
                                <div class="input-group">
                                    <input type="time" th:id="${oz.idFieldPausenVon}" th:name="fn3" class="form-control" placeholder="Von" th:value="${oz.startpause}">
                                    <input type="time" th:id="${oz.idFieldPausenBis}" th:name="fn4" class="form-control" placeholder="Bis" th:value="${oz.endepause}">
                                </div>
                            </td>
                        </tr>






<!--                        <tr>-->
<!--                            <td>Dienstag</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-di" value="" checked>-->
<!--                                    <label for="day-act-di"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time"  id="day-von-di" class="form-control" placeholder="Von" value="07:00" th:value="${oeffnungszeit.oeffnungszeit}">-->
<!--                                    <input type="time" id="day-bis-di" class="form-control" placeholder="Bis" value="17:00">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-di" value="" checked>-->
<!--                                    <label for="pause-act-di"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-di" class="form-control" placeholder="Von" value="12:00">-->
<!--                                    <input type="time" id="pause-bis-di"class="form-control" placeholder="Bis" value="13:00">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->



<!--                        <tr>-->
<!--                            <td>Mittwoch</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-mi" value="" checked>-->
<!--                                    <label for="day-act-mi"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="day-von-mi" class="form-control" placeholder="Von" value="07:00">-->
<!--                                    <input type="time" id="day-bis-mi" class="form-control" placeholder="Bis" value="17:00">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-mi" value="" checked>-->
<!--                                    <label for="pause-act-mi"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-mi" class="form-control" placeholder="Von" value="12:00">-->
<!--                                    <input type="time" id="pause-bis-mi" class="form-control" placeholder="Bis" value="13:00">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->


<!--                        <tr>-->
<!--                            <td>Donnerstag</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-do" value="" checked>-->
<!--                                    <label for="day-act-do"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="day-von-do" class="form-control" placeholder="Von" value="08:00">-->
<!--                                    <input type="time" id="day-bis-do" class="form-control" placeholder="Bis" value="18:00">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-do" value="" checked>-->
<!--                                    <label for="pause-act-do"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-do" class="form-control" placeholder="Von" value="12:00">-->
<!--                                    <input type="time" id="pause-bis-do" class="form-control" placeholder="Bis" value="13:00">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->





<!--                        <tr>-->
<!--                            <td>Freitag</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-fr" value="" checked>-->
<!--                                    <label for="day-act-fr"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="day-von-fr" class="form-control" placeholder="Von" value="08:00">-->
<!--                                    <input type="time" id="day-bis-fr" class="form-control" placeholder="Bis" value="18:00">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-fr" value="" checked>-->
<!--                                    <label for="pause-act-fr"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-fr" class="form-control" placeholder="Von" value="12:00">-->
<!--                                    <input type="time" id="pause-bis-fr" class="form-control" placeholder="Bis" value="13:00">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->


<!--                        <tr>-->
<!--                            <td>Samstag</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-sa" value="" checked>-->
<!--                                    <label for="day-act-sa"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="day-von-sa" class="form-control" placeholder="Von" value="12:00">-->
<!--                                    <input type="time" id="day-bis-sa" class="form-control" placeholder="Bis" value="19:00">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-sa" value="">-->
<!--                                    <label for="pause-act-sa"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-sa" class="form-control" placeholder="Von">-->
<!--                                    <input type="time" id="pause-bis-sa" class="form-control" placeholder="Bis">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->



<!--                        <tr>-->
<!--                            <td>Sonntag</td>-->
<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="day-act-so" value="">-->
<!--                                    <label for="day-act-so"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="day-von-so" class="form-control" placeholder="Von">-->
<!--                                    <input type="time" id="day-bis-so" class="form-control" placeholder="Bis">-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <div class="custom-switch">-->
<!--                                    <input type="checkbox" id="pause-act-so" value="">-->
<!--                                    <label for="pause-act-so"></label>-->
<!--                                </div>-->
<!--                            </td>-->


<!--                            <td>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="time" id="pause-von-so" class="form-control" placeholder="Von">-->
<!--                                    <input type="time" id="pause-bis-so" class="form-control" placeholder="Bis">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->



                        </tbody>
                    </table>




                        <div class="row row-eq-spacing-lg pl-0 pr-0 ml-0 mt-10 mb-20 pb-20">
                            <div class="col-2 col-lg-3 col-sm-2 col-md-2">
                            </div>

                            <div class="col-8 col-lg-6 col-sm-8 col-md-8">
                                <button class="btn btn-primary btn-block" type="submit">speichern</button>
                            </div>

                            <div class="col-2 col-lg-3 col-sm-2 col-md-2">
                            </div>

                        </div>





                    </div>
                </div>
                </form>




            </div>



        </div>











    </div>
    <!-- Content wrapper end -->




</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>



<script>
    $(document).ready(function () {

        var day = ["mo","di","mi", "do", "fr", "sa", "so"];

        for (let i = 0; i < 7; i++) {

            $('#day-act-'+day[i]).on('click',function(){
                if(this.checked){
                    $("#day-von-"+day[i]).prop('disabled', false);
                    $("#day-bis-"+day[i]).prop('disabled', false);
                } else {
                    $("#day-von-"+day[i]).prop('disabled', true);
                    $("#day-bis-"+day[i]).prop('disabled', true);

                    $("#pause-von-"+day[i]).prop('disabled', true);
                    $("#pause-bis-"+day[i]).prop('disabled', true);
                    $("#pause-act-"+day[i]).prop("checked", false);
                }
            });

            if($('#day-act-'+day[i]).prop('checked')){
                $("#day-von-"+day[i]).prop('disabled', false);
                $("#day-bis-"+day[i]).prop('disabled', false);
            } else {
                $("#day-von-"+day[i]).prop('disabled', true);
                $("#day-bis-"+day[i]).prop('disabled', true);
            }



            // PAUSE
            $('#pause-act-'+day[i]).on('click',function(){
                if(this.checked){
                    $("#pause-von-"+day[i]).prop('disabled', false);
                    $("#pause-bis-"+day[i]).prop('disabled', false);

                    $("#day-von-"+day[i]).prop('disabled', false);
                    $("#day-bis-"+day[i]).prop('disabled', false);
                    $("#day-act-"+day[i]).prop("checked", true);
                } else {
                    $("#pause-von-"+day[i]).prop('disabled', true);
                    $("#pause-bis-"+day[i]).prop('disabled', true);
                }
            });

            if($('#pause-act-'+day[i]).prop('checked')){
                $("#pause-von-"+day[i]).prop('disabled', false);
                $("#pause-bis-"+day[i]).prop('disabled', false);
            } else {
                $("#pause-von-"+day[i]).prop('disabled', true);
                $("#pause-bis-"+day[i]).prop('disabled', true);
            }


        }





    });

</script>





</body>
</html>