<div th:fragment="header-3(content, edit, position)" class="fragment-header" name="header-3">

    <i th:if="${edit}" th:name="${position + '-header-3'}" class="fragment-edit material-icons">edit</i>

    <div class="fragment-header-column center" style="width: 100%;">
        <h1 th:text="${content.fragmentheader.titel}"
            style="position: absolute; z-index: 2; margin-top: -5%; color: whitesmoke; font-size: 6em;"></h1>
        <p th:text="${content.fragmentheader.text}"
            style="position: absolute; z-index: 2; margin-top: 5%; color: whitesmoke; font-size: 2em;"></p>
        <img th:src="${'data:image/png;base64,'+ __${position + 'image'}__}" style="padding: 5px; opacity: .7;" />
    </div>

</div>