<style>
    .anmerkung-collaps {
        box-shadow: 0px 0px 0px;
        margin-top: 0px;
        border: 0px;
    }

    .pb-0 {
        padding-bottom: 0px !important;
    }

    .mt-0 {
        margin-top: 0px;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .card-karte {
        background: rgba(255, 255, 255, 0.32);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.1px);
        -webkit-backdrop-filter: blur(11.1px);
        border: 1px solid rgba(255, 255, 255, 0.46);
    }

    .fz-16 {
        font-size: 16px;
    }

    .desc-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        /* cursor: pointer; */
        -webkit-tap-highlight-color: transparent;
        line-height: 1.5;
        /* padding: 1rem; */
        background-color: #fff;
    }

    .desc-i {
        width: 2rem;
        font-size: 1.6rem;
        display: inline-block;
        text-align: center;
        margin-right: 1rem;
        margin-left: -16px;
    }
</style>



<div th:fragment="karte(content, edit, position)" class="fragment-karte row br-16">

    <i th:if="${edit}" th:name="${position + '-' + content.fragmenttype.type}"
        class="fragment-delete material-icons">delete_forever</i>


    <div th:each="gericht: ${gerichte}" class="col s12 m12 l3">
        <ul class="collection with-header card-karte">

            <li class="collection-header">
                <div class="row mb-0 mt-10">
                    <div class="col s8 pb-0">
                        <h4 class="mt-0" th:id="${'name-' + gericht.id}" th:text="${gericht.name}"></h4>
                    </div>
                    <div class="col s4 pb-0">

                        <div class="input-field">
                            <input type="number" th:id="${'anzahl-' + gericht.id}" value="1" min="1" max="100">
                            <label class="active" th:for="${'anzahl-' + gericht.id}">Anzahl</label>
                        </div>

                    </div>
                </div>
            </li>

            <li class="collection-item">
                <div class="desc-item"><i class="material-icons desc-i">assignment</i>
                    <div th:text="${gericht.beschreibung}"></div>
                </div>
            </li>

            <ul class="collapsible anmerkung-collaps">
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_downward</i>Anmerkung hinzufügen
                    </div>
                    <div class="collapsible-body">
                        <div class="input-field">
                            <input th:id="${'anmerkung-' + gericht.id}" type="text" class="validate">
                            <label class="active" th:for="${'anmerkung-' + gericht.id}">Anmerkung</label>
                        </div>
                    </div>
                </li>
            </ul>

            <li class="collection-item" style="padding-bottom: 50px;">
                <h6 th:text="${'Preis: ' + gericht.preis + '€'}" class="left"></h6>
                <a class="waves-effect waves-light btn right buyButton" th:id="${'buy-' + gericht.id}"><i
                        class="material-icons left">add</i>Hinzufügen</a>
            </li>
        </ul>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" crossorigin="anonymous"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();

        var warenkorb;
        if (Cookies.get("warenkorb") == null) {
            warenkorb = [];
        } else {
            warenkorb = window.JSON.parse(Cookies.get("warenkorb"));
        }

        updateWarenkorb(warenkorb);
    });

    function openWarenkorb() {
        $('#warenkorb').modal('open');
    }

    function updateWarenkorb(warenkorb) {
        var data = "";
        warenkorb.forEach(element => {

            data += '\
                <tr>\
                    <td>' + element["name"] + '</td>\
                    <td>' + element["anmerkung"] + '</td>\
                    <td>' + element["anzahl"] + '</td>\
                    <td onclick="removeGericht(' + element["id"] + ', \'' + element["anmerkung"] + '\')"><a href="#">Entfernen</a></td>\
                </tr>\
            '
        });

        $("#waren").html(data)
    }

    function removeGericht(id, anmerkung) {
        var warenkorb = window.JSON.parse(Cookies.get("warenkorb"));
        var gerichtToRemove = "";

        warenkorb.forEach(element => {
            if (element["id"] == id && element["anmerkung"] == anmerkung) { gerichtToRemove = element };
        });
        warenkorb.splice(warenkorb.indexOf(gerichtToRemove), 1)

        M.toast({ html: 'Gericht entfernt!' })

        Cookies.set("warenkorb", window.JSON.stringify(warenkorb));
        updateWarenkorb(warenkorb);
    }

    $(".buyButton").click(function () {

        var added = false;
        var mandantID = /*[[${restaurantID}]]*/ '0';
        var id = $(this).attr("id").split("-")[1];

        if (Cookies.get("warenkorb") == null) {
            var warenkorb = [];
        } else {
            var warenkorb = window.JSON.parse(Cookies.get("warenkorb"));
        }

        gericht = {
            id: id,
            anmerkung: $("#anmerkung-" + id).val(),
            anzahl: $("#anzahl-" + id).val(),
            name: $("#name-" + id).text(),
            madant: mandantID
        };

        warenkorb.forEach(element => {
            if (element["id"] == gericht["id"] && element["anmerkung"] == gericht["anmerkung"]) {
                element["anzahl"] = Number(element["anzahl"]) + Number(gericht["anzahl"]);
                added = true;
            }
        });

        if (!added) { warenkorb.push(gericht); }

        M.toast({ html: 'Gericht hinzugefügt!' })
        Cookies.set("warenkorb", window.JSON.stringify(warenkorb));
        updateWarenkorb(warenkorb);

    });

</script>

<div id="warenkorb" class="modal">
    <div class="modal-content">
        <h4>Warenkorb</h4>

        <div class="collection">
            <table class="centered striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Anmerkung</th>
                        <th>Anzahl</th>
                        <th>Gericht Entfernen</th>
                    </tr>
                </thead>

                <tbody id="waren"></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="height: 0;"></div>
</div>