<div th:fragment="maps">
    <!-- <p>Karte Location</p>
    <img src="https://via.placeholder.com/150" alt="">
    <p th:text="${content.fragmentmap.longitude}"></p>
    <p th:text="${content.fragmentmap.latitude}"></p> -->


    <div class="card">
        <div class="card-image">
          <img src="https://via.placeholder.com/1000x500" style="height: 100%; width: auto; margin-left: auto; margin-right: auto;">
          <span class="card-title black-text" th:text="|${content.fragmentmap.longitude} + ${content.fragmentmap.latitude}|">Card Title</span>
        </div>
      </div>


</div>