<div th:fragment="map(content, edit, position)" class="fragment-text br-16">

  <i th:if="${edit}" th:name="${position + '-' + content.fragmenttype.type}"
    class="fragment-delete material-icons">delete_forever</i>

  <div class="row">
    <h1 class="mob-text-mod">Unser Standort</h1>
  </div>
  <div class="row center" style="width: 100%;">
    <div class="mapouter">
      <div class="gmap_canvas center"><iframe id="gmap_canvas" style="height: 20em; width: 100%;"
          th:src="${'https://maps.google.com/maps?q=' + lat + ',' + long + '&t=&z=17&ie=UTF8&iwloc=&output=embed'}"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
          href="https://putlocker-is.org"></a>
      </div>
    </div>
  </div>

</div>