<div th:fragment="layoutEINS">
    <div class="row ">
        <div class="col s12 m5 l3  header-div">
            <div th:replace="baukasten/fragments/modules/text"></div>
        </div>
        <div class="col s12 m7 l9 header-div">
            <div th:replace="baukasten/fragments/modules/text"></div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col s12 m7 l9 main-right">
            <div th:replace="baukasten/fragments/modules/text"></div>
            <!-- <div th:replace="baukasten/fragments/modules/karte"></div> -->
        </div>
        <div class="col s12 m5 l3 main-right">
            <div th:replace="baukasten/fragments/modules/text"></div>
            <!-- <div th:replace="baukasten/fragments/modules/karte"></div> -->
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 m12 l12 main-right">
            <div th:replace="baukasten/fragments/modules/text"></div>
            <!-- <div th:replace="baukasten/fragments/modules/karte"></div> -->
        </div>
    </div>

</div>
