<div th:fragment="modals">

<!-- ADD PAGE MODAL ---------------------------------->

  <div id="addPage" class="modal">
    <div class="modal-content">
      <h4>Seite hinzufügen</h4>
      <p>Du musst eine der Folgenden Seiten wählen:</p>


      <div class="collection">
        <a href="#!" class="collection-item">Kontankt und Öffnungszeiten</a>
        <a href="#!" class="collection-item">Über uns</a>
        <a href="#!" class="collection-item">Fotos</a>
      </div>


    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Weiter</a>
    </div>
  </div>

<!----------------------------------------------------->
<!-- Header Div MODAL ---------------------------------->

  <div id="headerContent" class="modal">
    <div class="modal-content">
      <h4>Bild und Text hinzufügen</h4>
      <p>Überschrift sowie Hintergrundbild bitte eingeben.
          <br>
          Die Überschrift wird vor dem Bild dargestellt.
      </p>

      <div class="row">
      <form class="col l7">
        <div class="row mb-0">
          <div class="input-field col s9">
            <i class="material-icons prefix">title</i>
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Überschrift</label>
          </div>
        </div>

        <div class="row">
            <div class="input-field col s9 marg-t-0">
                <div class="file-field input-field">
                <div class="btn">
                    <span>Bild</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Hintergrundbild uploaden">
                </div>
                </div>
            </div>
        </div>

      </form>
    

      <div class="col l5">
            <img th:src="@{css/baukasten/overlayText.png}"  class="overlayImg">
        </div>

      </div>

    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Hinzufügen</a>
    </div>
  </div>

  <!----------------------------------------------------->




  <!-- Main Left MODAL ---------------------------------->

  <div id="selector" class="modal">
    <div class="modal-content">
      <h4>Element hinzufügen</h4>
      <p>Du musst eines der Folgenden Elemente auswählen:</p>

      <h5>Empfohlen:</h5>

      <div class="collection">
        <a href="#!" id="openAddText" class="collection-item modal-trigger">Titel mit Text</a>
        <a href="#!" id="openAddImage" class="collection-item">Titel mit Bild</a>
        <a href="#!" id="openAddContact" class="collection-item">Kontaktinformationen</a>
        <a href="#!" class="collection-item">Speisekarte</a>
        <a href="#!" class="collection-item">...</a>
      </div>

      <h5>Sonstiges:</h5>
      <div class="collection">
        <a href="#!" class="collection-item">Google Maps Standort</a>
        <a href="#!" class="collection-item">...</a>
      </div>


    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Weiter</a>
    </div>
  </div>

<!-- Text Module Add Modal ---------------------------------->
<!----------------------------------------------------->

  <div id="addText" class="modal">
    <div class="modal-content">
      <h4>Titel mit Text Modul hinzufügen</h4>

      <div class="row">
        <div class="input-field">
          <h5>Titel</h5>
          <textarea id="addTextTitle" class="materialize-textarea"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <h5>Text</h5>
          <textarea id="addTextText" class="materialize-textarea"></textarea>
        </div>
      </div>

    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
    <a href="#!" id="saveAddText" class="modal-close waves-effect waves-green btn-flat">Speichern</a>
    </div>
  </div>

<!----------------------------------------------------->
<!-- Image Module Add Modal ---------------------------------->
<!----------------------------------------------------->

<div id="addImage" class="modal">
  <div class="modal-content">
    <h4>Titel und Bild Modul hinzufügen</h4>

    <div class="row">
      <div class="input-field">
        <h5>Titel</h5>
        <textarea id="addImageTitle" class="materialize-textarea"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Bild</h5>
        <textarea id="addImageFile" class="materialize-textarea"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
  <a href="#!" id="saveAddImage" class="modal-close waves-effect waves-green btn-flat">Speichern</a>
  </div>
</div>

<!----------------------------------------------------->
<!-- Contact Information Module Add Modal ---------------------------------->
<!----------------------------------------------------->

<div id="addContact" class="modal">
  <div class="modal-content">
    <h4>Kontaktinformationen Modul hinzufügen</h4>

    <div class="row">
      <div class="input-field">
        <h5>Titel</h5>
        <textarea id="addContactTitle" class="materialize-textarea"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Text (Optional)</h5>
        <textarea id="addContactText" class="materialize-textarea"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
  <a href="#!" id="saveAddContact" class="modal-close waves-effect waves-green btn-flat">Speichern</a>
  </div>
</div>

<!----------------------------------------------------->

</div>

