<div th:fragment="header">
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">

                    <img th:src="@{../css/baukasten_images/background_sidenav.png}" class="overlayImg">
                </div>
                <a href="#user"><img class="circle" src="https://eu.ui-avatars.com/api/?name=John+Doe"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">agen007@gmail.com</span></a>
            </div>
        </li>

        <li><a href="#!" class="waves-effect"><i class="material-icons">arrow_back</i>Zurück zum Dashboard</a></li>
        <li><a href="#!" class="saveSettings waves-effect"><i class="material-icons">save</i>Webseite speichern</a></li>
        <li><a href="#!" class="layout-change waves-effect"><i class="material-icons">autorenew</i>Layout ändern</a>
        </li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Einstellungen</a></li>
        <div class="row mb-0">
            <div class="col s1">
            </div>

            <div class="input-field col s10">

                <input id="firmenname" type="text" class="validate active" th:value="${restaurantName}">
                <label for="firmenname">Firmenname</label>
            </div>

            <div class="col s1">
            </div>

        </div>



        <div class="row mb-0">
            <div class="col s1">
            </div>

            <div class="input-field col s10">
                <select id="color" class="icons">
                    <option value="" disabled selected>Farbe wählen</option>
                    <option value="#27AE60" data-icon="https://eu.ui-avatars.com/api/?name=&background=27AE60">
                        Nethrities
                    </option>
                    <option value="#2980B9" data-icon="https://eu.ui-avatars.com/api/?name=&background=2980B9">Belize
                        Hole
                    </option>
                    <option value="#C0392B" data-icon="https://eu.ui-avatars.com/api/?name=&background=C0392B">
                        Pomegranate
                    </option>
                    <option value="#2C3E50" data-icon="https://eu.ui-avatars.com/api/?name=&background=2C3E50">Green Sea
                    </option>
                    <option value="#8E44AD" data-icon="https://eu.ui-avatars.com/api/?name=&background=8E44AD">Wisteria
                    </option>
                    <option value="#303A52" data-icon="https://eu.ui-avatars.com/api/?name=&background=303A52">Black
                    </option>
                    <option value="#596174" data-icon="https://eu.ui-avatars.com/api/?name=&background=596174">Grey
                    </option>
                </select>
                <label>Akzentfarbe</label>
            </div>

            <div class="col s1">
            </div>

        </div>
    </ul>
</div>