:root {
    --light-main: #5cdb95;
}



nav {
    color: #fff;
    background-color: var(--light-main) !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    font-weight: 500;
}

/*
.row {
    min-height: 20vh;
}*/

.fragment-header, .fragment-map, .fragment-text, .fragment-add {
    -webkit-box-shadow: 0px 0px 13px -1px #000000; 
    box-shadow: 0px 0px 13px -1px #000000;
}

.fragment-header {
    /* background-image: url("https://via.placeholder.com/500x500");
    background-size: cover;
    background-position: center; */

    margin-top: 2vh;
    min-height: 40vh;
    max-height: 50vh;

    display: flex;
    /* padding-left: 10%;  */
    
}

.fragment-header-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.fragment-header-column > img {
    object-fit: contain;
    margin-right: 0;
    position: relative;
    height: 100%;
}

.fragment-add {
    display: flex;
    justify-content: center;
}

.fragment-add > i {
    object-fit: contain;
    font-size: 15rem;
    color: #BEBEBE;
}

.fragment-map {
    max-height: 60vh;
    display: flex;
    justify-content: center;
}

.fragment-map > img {
    object-fit: contain;
}

.fragment-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}



.header-div{
    background-color: #EBECF0;
}

.header-div div {
    height: 65vh;
    text-align: center;
}

.header-div div span {
    margin-top: 25vh;
    font-size: 100px;
    color: #BEBEBE;
}

.header-div div span:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
    transition: 1s;
}



.main-left {

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}


.main-left div {
    height: 70vh;
    background-color: #EBECF0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
}

.main-left div span {
    margin-top: 30vh;
    font-size: 100px;
    color: #BEBEBE;

}




@media only screen and (max-width: 992px) {
    .header-div{
        height: 40vh;
    }

    .menu-icon {
        font-size: 50px !important;
        margin-left: 10px !important;
        margin-top: 0px !important;

    }

    .header-div div span {
        margin-top: 15vh;
        font-size: 100px;
        color: #BEBEBE;
    }

    .brand-logo-mob{
        margin-right: 20px;
        right: 0.5rem;
        padding: 0 !important;
        left: auto !important;
        float: right !important;
        transform: none !important;
    }

}


@media only screen and (min-width: 992px) {
    .brand-logo {
        margin-left: 30px;
    }
    .nav-wrapper ul {
        margin-right: 20px;
    }
}






/* Navbar mobile ------------------ */
.side-line-menu {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 25px;
    color: var(--light-main);
    font-weight: bold;
}

.side-line-menu:before,
.side-line-menu:after {
    position: absolute;
    top: 34%;
    overflow: hidden;
    width: 32%;
    height: 5px;
    content: '\a0';
    background-color: var(--light-main);
    border-radius: 8px;
    margin-left: 8px;
}

.side-line-menu:before {
    margin-left: -35%;
    text-align: right;

}

/* Navbar mobile ------------------ */



/* UNIVERSAL */
.marg-t-0 {
    margin-top: 0px !important;
}
.marg-b-0 {
    margin-bottom: 0px !important;
}

.overlayImg {
    object-fit: cover;
    height: 200px;
    width: 350px;
    border-radius: 8px;
}

.sp-colorize-container {
    margin-right: 45px;
    border-radius: 8px !important;
    height: 40px !important;
    margin-top: 5px !important;
    background-color: transparent !important;
}

.sp-colorize {
    width: 80px !important;
    height: 40px !important;
    border-radius: 8px !important;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}

.logoModalParagraph {
    margin-bottom: 10px;
}





header, main, footer {
    padding-left: 300px;
}


.side-p {
    padding-left: 300px;
}


@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}


.mb-0 {
    margin-bottom: 0px !important;
}


.select-dropdown li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px;
    float: right;
    border-radius: 5px;
}

/*
.collection a.collection-item {
    color: #379683 !important;
    font-weight: 500;
} */